<ng-container *ngIf="!loading; else loadStatusTemplate">
  <ng-container *ngFor="let vehicle of vehicles; index as idx">
    <app-vehicle-badge [vehicle]="vehicle" [selectedEvent]="selectedEvent">
    </app-vehicle-badge>
  </ng-container>
</ng-container>

<ng-template #loadStatusTemplate>
  <div class="m-3">
    <p>{{ 'loading' | translate}}...</p>
  </div>
</ng-template>

<div class="ws-button-overlay position-absolute top-0 end-0 mt-2 mr-2">
  <button class="btn btn-primary ml-2" (click)="openBrowserPrintPreview()">{{'print' | translate | titlecase}}</button>
</div>
