<div class="row">
  <div class="col-md-3">
    <div class="card">
      <img class="badge-card-img-top" src="assets/badge-templates/wsi-2023-ga/thumbnail.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">WSI Badge 01</h5>
        <p class="card-text text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam dignissimos distinctio dolore dolorum est excepturi</p>
        <a href="#" class="btn btn-primary">Selected</a>
      </div>
    </div>
  </div>
</div>

