<h5>Competition</h5>
<div class="row">
  <div class="col-md-3">
    <div class="card">
      <img class="badge-card-img-top" src="assets/badge-templates/wsi-2023-ga/thumbnail.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Competition - SINGLE</h5>
        <p class="card-text text-muted">One badge per page</p>
        <a href="#" class="btn btn-primary">Selected</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <img class="badge-card-img-top" src="assets/badge-templates/wsi-2023-ga/thumbnail-duo.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Competition - DUO</h5>
        <p class="card-text text-muted">Two badges per page</p>
        <a href="#" class="btn btn-outline-primary">Select</a>
      </div>
    </div>
  </div>
</div>

<h5>General Assembly</h5>
<div class="row">
  <div class="col-md-3">
    <div class="card">
      <img class="badge-card-img-top" src="assets/badge-templates/wsi-2023-ga/thumbnail.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">GA - SINGLE</h5>
        <p class="card-text text-muted">One badge per page</p>
        <a href="#" class="btn btn-outline-primary">Select</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <img class="badge-card-img-top" src="assets/badge-templates/wsi-2023-ga/thumbnail-duo.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">GA - DUO</h5>
        <p class="card-text text-muted">Two badges per page</p>
        <a href="#" class="btn btn-outline-primary">Select</a>
      </div>
    </div>
  </div>
</div>

