<form class="form-horizontal" (ngSubmit)="save()" #form="ngForm" novalidate>
  <div class="row mb-2">
    <div class="col-sm-12">
      <label class="small font-weight-bold my-0 py-0">{{'code' | translate}}
        <span class="text-danger" ngbTooltip="{{'required' | translate}}">*</span></label>
      <input
        type="text"
        class="form-control"
        name="code"
        [ngModel]="zone.code">
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-sm-12">
      <label class="small font-weight-bold my-0 py-0">{{'name' | translate}}
        <span class="text-danger" ngbTooltip="{{'required' | translate}}">*</span></label>
      <input
        type="text"
        class="form-control"
        name="name"
        [ngModel]="zone.name">
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-sm-12">
      <label class="small font-weight-bold my-0 py-0">{{'color' | translate}}
        <span class="text-danger" ngbTooltip="{{'required' | translate}}">*</span>
      </label>
      <div class="form-row">
        <div class="col-4">
          <input
            type="color"
            class="form-control px-2"
            name="colorPicker"
            [(ngModel)]="color">
        </div>
        <div class="col-8">
          <input
            type="text"
            class="form-control"
            name="color"
            [(ngModel)]="color">
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-sm-12">
      <label class="small font-weight-bold my-0 py-0">{{'quota' | translate}}</label>
      <input
        type="number"
        class="form-control"
        name="quota"
        [ngModel]="zone.quota">
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-sm-12">
      <div class="form-check pl-4">
        <input
          type="checkbox"
          class="form-check-input"
          id="available_person_accreditation"
          name="available_person_accreditation"
          [ngModel]="zone.available_person_accreditation">
        <label class="form-check-label small font-weight-bold" for="available_person_accreditation">
          {{'available_person_accreditation' | translate}}
        </label>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-sm-12">
      <div class="form-check pl-4">
        <input
          type="checkbox"
          class="form-check-input"
          id="available_vehicle_accreditation"
          name="available_vehicle_accreditation"
          [ngModel]="zone.available_vehicle_accreditation">
        <label class="form-check-label small font-weight-bold" for="available_vehicle_accreditation">
          {{'available_vehicle_accreditation' | translate}}
        </label>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-sm-12">
      <label class="small font-weight-bold my-0 py-0">{{'sort' | translate}}
        <span class="text-danger" ngbTooltip="{{'required' | translate}}">*</span></label>
      <input
        type="number"
        class="form-control"
        name="sort"
        [ngModel]="zone.sort">
    </div>
  </div>

  <div class="row mb-2 text-right">
    <div class="col-sm-12">
      <button type="submit" class="btn btn-sm btn-primary">{{'save' | translate}}</button>
      <button type="button" class="btn btn-sm btn-outline-primary ml-2"
              (click)="cancel()">{{'cancel' | translate}}</button>
    </div>
  </div>

</form>
