<div [class.ws-badge]="!twoBadgesPerPage"
     [class.ws-badge-multiple]="twoBadgesPerPage"
     [class.ws-badge-multiple-odd]="twoBadgesPerPage && (index + 1) % 2 == 1"
     [class.ws-badge-multiple-even]="twoBadgesPerPage && (index + 1) % 2 == 0"
     [class.ws-badge-multiple-cut-separator]="twoBadgesPerPage && (index + 1) % 2 == 0"
     [class.ws-badge-multiple-last]="twoBadgesPerPage && totalBadgesToPrint % 2 === 1 && index === totalBadgesToPrint - 1"
>

  <div style="display: flex; height: 148mm; color: #111 !important;">

    <div style="flex: 1; display: flex;">
      <div style="flex: 1; position: relative; padding: 6mm;">

        <div style="position: absolute; top: 10mm; right: 6mm; width: 40mm;">
          {{currentEvent.name.text}}
        </div>

        <div style="">
          <img *ngIf="pa.image" src="{{pa.image.thumbnail}}_accreditation" alt="" style="height: 40mm;">
        </div>

        <div style="position: absolute; top: 55mm">
          <div style="font-weight: 900; font-size: 8mm; line-height: 1; text-transform: uppercase; height: 15mm;" class="ws-text-fit">
            <div>{{pa.first_name}}</div>
            <div>{{pa.last_name}}</div>
          </div>
        </div>

        <div style="position: absolute; top: 75mm;">
          <div style="font-weight: 300; font-size: 6mm; line-height: 1; height: 12mm;" class="ws-text-fit">
            <div>{{pa.lines[0]}}</div>
            <div>{{pa.lines[1] || "&nbsp;"}}</div>
          </div>
        </div>

        <div style="display: flex; flex-flow: row wrap; position: absolute; bottom: 20mm;">
          <div style="-webkit-print-color-adjust: exact; width: 10mm; height: 10mm; margin: 0 4mm 4mm 0; line-height: 10mm; font-size: 6mm; font-weight: 700; border: 1px solid #000" *ngFor="let zone of zones">
            <div style="-webkit-print-color-adjust: exact; text-align: center; vertical-align: middle; background-color: {{zone.color}} !important; color: {{zone.text_color}} !important;" *ngIf="hasZone(zone.code)">
              {{ zone.code }}
            </div>
          </div>
        </div>  

        <div style="-webkit-print-color-adjust: exact; background-color: {{pa.delegate_type.color}} !important; color: {{pa.delegate_type.text_color}} !important; position: absolute; left: 0; right: 0; bottom: 0; height: 18mm; font-weight: 800; font-size: 7mm; line-height: 17mm; text-transform: uppercase; text-align: center;">
            {{pa.delegate_type.name}}
        </div>

      </div>
    </div>

    <div style="flex: 1; font-size: 4mm;">

      <div style="height: 100mm; margin: 5mm; display: flex; flex-flow: column wrap;">
        <div style="display: flex; align-items: center; height: 16mm;" *ngFor="let zone of zones">
          <div style="-webkit-print-color-adjust: exact; text-align: center; vertical-align: middle; width: 10mm; height: 10mm; line-height: 10mm; font-size: 6mm; font-weight: 700; background-color: {{zone.color}} !important; color: {{zone.text_color}} !important; border: 1px solid #000">{{ zone.code }}</div>
          <div style="line-height: 5mm; width: 26mm; margin: 1mm 3mm;">{{zone.name}}</div>
        </div>
      </div>

    </div>

  </div>

</div>
