<style>
  @page {
    margin: 0;
  }

  .ws-badge {
    font-family: Arial, sans-serif;
    width: 210mm;
    height: 297mm;
  }

  @media screen {
    body {
      background-color: #efefef;
    }

    .ws-badge {
      margin-top: 0.9cm;
      margin: 100px auto;
      background-color: #fff;
    }

    .ws-card {
      margin-top: 4mm;
    }

  }
</style>


<div class="ws-badge" style="page-break-after: always;">

  <div style="display: flex;">

    <div style="flex: 1;">

      <div
        style="width: 105mm; height: 148.5mm; padding-left: 6mm; padding-right: 3mm; -webkit-print-color-adjust: exact !important;">

        <img src="/images/wsafrica-2023/header.png" style="width: inherit;" />
        <div style="display: flex;">

          <div style="flex: 1; height: 4cm;">
            <img ng-show="accreditation.image" ng-src="{{accreditation.image.thumbnail}}_accreditation"
              style="height: 4.8cm;" alt="" />
          </div>

          <div style="flex: 1;">

            <div style="display: flex; flex-wrap: wrap;">
              <div ng-repeat="zone in zones.zones | slice:0:16"
                style="{{hasZone(accreditation, zone) ? 'visibility: visible;' : 'visibility: hidden;'}} margin-bottom: 1mm; margin-right: 1mm; display: flex; align-items: center; justify-content: center; -webkit-print-color-adjust: exact; width: 8mm; height: 8mm; background-color: {{zone.color}} !important;">
                <div style="color: {{zone.text_color}} !important; font-weight: bold; font-size:18px;">{{ zone.code }}
                </div>
              </div>
            </div>

          </div>

        </div>

        <h3
          style="-webkit-print-color-adjust: exact; margin-top: 2mm; margin-bottom: 0; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-family: 'Inria Serif', serif; font-size: 20px;">
          {{accreditation.first_name}} {{accreditation.last_name}}
        </h3>

        <div style="font-size: 0.35cm; line-height: 1.4; height: 20mm;">
          <div style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{accreditation.lines[0]}}</div>
          <div style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{accreditation.lines[1]}}</div>
          <div style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{accreditation.lines[2]}}</div>
        </div>

        <div
          style="background-image: url('/images/wsafrica-2023/footer.png') !important; background-repeat: no-repeat !important; background-size: 363px;">
          <div
            style="-webkit-print-color-adjust: exact; background-color: {{accreditation.delegate_type.color}} !important; padding-top: 21mm; width: 96mm; text-align: right; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; text-transform: uppercase; font-weight: bold; font-size: 16px; color: #fff !important;">
            {{accreditation.delegate_type.name}}
          </div>
        </div>


      </div>

    </div>

    <div style="flex: 1; font-size: 10px;">

      <div style="padding: 0 6mm 45mm 6mm; -webkit-print-color-adjust: exact !important;">

        <div>
          <h5 style="font-size: 10px;" translate>access_to_zones</h5>

          <p>
            <span ng-repeat="zone in accreditation.zones">
              {{zone.code}} - {{zone.name}}
              <br />
            </span>
          </p>
        </div>

        <hr>

        <p translate>accreditation_badge_disclaimer_info</p>

        <p><span translate>generated_on</span>: {{date | date:'dd.MM.yyyy HH:mm'}}</p>
        <img src="/images/wsafrica-2023/grid.png" style="width: inherit;" />

      </div>

    </div>

  </div>

</div>