<style>
  @page {
    margin: 0;
  }

  .ws-badge {
    font-family: FrutigerLTW04, Frutiger, Arial, sans-serif;
    font-weight: 300;
    font-size: 5mm;
  }

  @media screen {
    body {
      background-color: #ccc;
    }

    .ws-badge {
      width: 210mm;
      height: 297mm;
      margin: 10mm auto;
      background-color: #fff;
      position: relative;
      overflow: hidden;
    }
  }
</style>


<div class="ws-badge">

  <div style="display: flex; height: 148mm;">
    <div style="flex: 1; display: flex;">
      <div style="flex: 1; display: flex; padding: 5mm;">
        <div style="flex: 1; position: relative;">

          <div style="-webkit-print-color-adjust: exact; background-color: {{accreditation.delegate_type.color}} !important; width: 10mm; position: absolute; top: 0; left: 0; bottom: 0; display: flex; justify-content: center; align-items: center;">
            <div style="flex-grow: 1;">
              <div style="transform: rotate(-90deg); width: 128mm; white-space: nowrap; font-weight: 800; -webkit-print-color-adjust: exact; color: {{accreditation.delegate_type.text_color;}} !important;">{{accreditation.delegate_type.code}}</div>
            </div>
          </div>

          <div style="position: absolute; top: 0; left: 12mm;">
            <img src="/images/wsi-2023-ga/slogan.png" style="width: 36mm;" />
          </div>

          <div>

            <div style="height: 44mm; padding-top: 4mm; text-align: right;">
              <img ng-show="accreditation.image && accreditation.delegate_type.code != 'CONFERENCE'" ng-src="{{accreditation.image.thumbnail}}_accreditation" alt="" style="height: 36mm;">
              <img ng-show="accreditation.delegate_type.code == 'CONFERENCE'" src="/images/wsi-2023-ga/logo-tui.png" alt="" style="width: 28mm;">
            </div>

            <div style="text-align: right; height: 52mm; overflow: hidden;">
              <div style="-webkit-print-color-adjust: exact; padding-left: 14mm; margin-bottom: 5mm; color: #111 !important; font-weight: 800; font-size: 10mm; line-height: 1.2;">
                {{accreditation.first_name}} {{accreditation.last_name}}
              </div>

              <div style="font-weight: 800; font-size: 5mm; padding-left: 14mm; line-height: 1.2;">
                <div style="-webkit-print-color-adjust: exact; color: #F15122 !important; margin-bottom: 3mm;">{{accreditation.lines[0]}}</div>
                <div style="-webkit-print-color-adjust: exact; color: #111 !important; margin-bottom: 3mm;">{{accreditation.lines[1]}}</div>
                <div style="-webkit-print-color-adjust: exact; color: #F15122 !important;">{{accreditation.lines[2]}}</div>
              </div>
            </div>
          </div>

          <div style="position: absolute; left: 15mm; bottom: 5mm;">
            <img src="/images/wsi-2023-ga/logo.png" style="height: 13mm;">
          </div>

          <div style="position: absolute; right: 0; bottom: 4mm;">
            <img ng-src="{{accreditation.qr_code}}" style="height: 28mm;">
          </div>

        </div>
      </div>
    </div>
    <div style="flex: 1; display: flex; font-size: 3mm;">
      <div style="padding: 5mm; flex: 1; display: flex; flex-flow: column;">

        <div style="flex: 1 1 auto;">

        </div>

        <div>
          <p>
            {{event.name.text}}
            <br>
            {{event.start_date | date:'dd.MM.yyyy'}} - {{event.end_date | date:'dd.MM.yyyy'}}
          </p>

          <hr>

          <p translate>accreditation_badge_disclaimer_info</p>

          <p><span translate>generated_on</span>: {{date | date:'dd.MM.yyyy HH:mm'}}</p>
        </div>
      </div>
    </div>

  </div>
</div>
