<style>
@page
{
    margin: 0;
}

body {
    font-family: FrutigerLTW04, Frutiger, Arial, sans-serif;
    font-weight: 300;
    font-size: 3mm;
}

.ws-badge-line {
    font-size: 6mm;
}

.ws-overflow {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media screen {
  body {
    background-color: #ccc;
  }

  .ws-badge {
    width: 210mm;
    height: 297mm;
    margin: 10mm auto;
    background-color: #fff;
    position: relative;
    overflow: hidden;
  }
}
</style>

<div class="ws-badge" style="page-break-after: always;">

    <div style="display:flex;">
        <div style="flex: 1; min-width: 0;">

            <div style="padding: 4mm;">
                <div style="padding: 4mm 0 4mm 6mm; height: 120mm; -webkit-print-color-adjust: exact !important; background-image: url('/images/wsi-2022/background-blue.png') !important; background-size: contain !important; background-repeat: no-repeat !important; background-position: bottom !important;">
                    <div style="display: flex; justify-content: space-between; height: 44mm;">
                        <div>
                            <img ng-show="accreditation.image" ng-src="{{accreditation.image.thumbnail}}_accreditation" alt="" style="height: 40mm;">
                        </div>
                        <div>
                            <img src="/images/wsi-2022/WSC2022SE_Logo_Samsung_horizontal_Colour_RGB.png" style="width: 50mm">
                        </div>
                    </div>

                    <h2 style="-webkit-print-color-adjust: exact; margin-top: 0; margin-bottom: 0; color: #003764 !important;">
                        {{accreditation.first_name}} {{accreditation.last_name}}
                    </h2>
                    
                    <div style="height: 20mm;">
                        <div class="ws-badge-line ws-overflow">{{accreditation.lines[0]}}</div>
                        <div class="ws-badge-line ws-overflow">{{accreditation.lines[1]}}</div>
                        <div class="ws-badge-line ws-overflow">{{accreditation.lines[2]}}</div>
                    </div>
                    
                    <div style="margin: 4mm 0;">
                    <span ng-repeat="zone in accreditation.zones">
                        <span style="-webkit-print-color-adjust: exact; display: inline-block; padding: 0.4mm 0.8mm; margin: 0 1mm 2mm 0; font-size: 6mm; font-weight: 700; border: 0.4mm solid #003764; background-color: {{zone.color}} !important; color: {{zone.text_color}} !important;">{{ zone.code }}</span>
                    </span>
                    </div>
                </div>
                
                <div style="-webkit-print-color-adjust: exact !important; background-color: {{accreditation.delegate_type.color}} !important; height: 20mm; display: flex; align-items: center;">
                    <div class="ws-overflow" style="flex-grow: 1; text-align: center; font-size: 6mm; font-weight: 700; color: {{accreditation.delegate_type.text_color;}} !important;">{{accreditation.delegate_type.name}}</div>
                </div>
            </div>
            
        </div>
        <div style="flex: 1;">

            <div style="padding: 4mm 6mm; font-size: 3mm;">
                <div style="display:flex;">
                    <div style="flex: 1;"><strong style="font-weight: 400;">Code</strong></div>
                    <div style="flex: 5;"><strong style="font-weight: 400;">Name</strong></div>
                </div>
                <div style="display:flex;" ng-repeat="zone in accreditation.zones">
                    <div style="flex: 1;">{{zone.code}}</div>
                    <div style="flex: 5;">{{zone.name}}</div>
                </div>
                
                <hr>
                
                <p translate>accreditation_badge_disclaimer_info</p>
                
                <p><span translate>generated_on</span>: {{date | date:'dd.MM.yyyy HH:mm'}}</p>
            </div>

        </div>
    
    </div>
</div>
