<div class="ws-badge" *ngIf="showComponent">

    <div style="position: relative; width: 118mm; height: 134mm; margin: 1mm; margin-top: 25mm; border: 0.3mm solid #D51067;">

    <div style="position: absolute; top: 4mm; left: 4mm;">
      <img *ngIf="pa.image" src="{{pa.image.thumbnail}}_accreditation" style="width: 30mm; height: 40mm;"/>
    </div>

    <div style="position: absolute; left: 39mm; top: 4mm; width: 76mm; height: 18mm; font-weight: 700; font-size: 7mm; line-height: 1.2; text-transform: uppercase;" class="ws-text-fit">
      <div style="-webkit-print-color-adjust: exact; color: #2b1c53 !important;">
        {{pa.first_name}}
      </div>
      <div style="-webkit-print-color-adjust: exact; color: #2b1c53 !important;">
        {{pa.last_name}}
      </div>
    </div>

    <div style="position: absolute; left: 39mm; top: 23mm; width: 76mm; height: 9mm; font-weight: 400; font-size: 6mm; line-height: 1.4;" class="ws-text-fit">
      <div style="-webkit-print-color-adjust: exact; color: #D51067 !important;">{{pa.lines[0]}}</div>
    </div>

    <div style="position: absolute; left: 39mm; top: 31mm; width: 76mm; height: 8mm; font-weight: 400; font-size: 5.5mm; line-height: 1.4;" class="ws-text-fit">
      <div style="-webkit-print-color-adjust: exact; color: #2b1c53 !important;">{{pa.lines[1]}}</div>
    </div>

    <div style="position: absolute; left: 39mm; top: 38mm; width: 76mm; height: 8mm; font-weight: 400; font-size: 5mm; line-height: 1.4;" class="ws-text-fit">
      <div style="-webkit-print-color-adjust: exact; color: #D51067 !important;">{{pa.lines[2]}}</div>
    </div>

    <div style="position: absolute; left: 6mm; right: 6mm; top: 47mm; display: flex; justify-content: space-around;">
      <div style="width: 20mm;"><div *ngIf="hasZone('EXP')" class="icon icon-pink">EXP</div></div>
      <div style="width: 20mm;"><div *ngIf="hasZone('OC')" class="icon icon-pink">OC</div></div>
      <div style="width: 20mm;"><div *ngIf="hasZone('CC')" class="icon icon-pink">CC</div></div>
      <div style="width: 20mm;"><div *ngIf="hasZone('FPT')" class="icon icon-pink">FPT</div></div>
    </div>

    <div style="position: absolute; border: 0.3mm solid #2b1c53; left: 2mm; padding: 1mm 2mm; width: 55mm; bottom: 16mm; height: 48mm;">

      <div style="display: grid; grid-template-columns: repeat(3, 1fr); text-align: center; font-size: 10mm; font-weight: 600; -webkit-print-color-adjust: exact;">
        <div>
          <div *ngIf="hasZone('0') && !hasAnyZone(['0C', '0E'])" style="color: #2b1c53">0</div>
          <div *ngIf="hasZone('0C') && !hasAnyZone(['0E'])" style="color: #2b1c53">0C</div>
          <div *ngIf="hasZone('0E')" style="color: #2b1c53">0E</div>
          <div *ngIf="!hasAnyZone(['0', '0C', '0E'])" style="color: #f0eef6; font-size: 7mm; line-height: 15mm;">✕</div>
        </div>
        <div><div *ngIf="hasZone('1')" style="color: #2b1c53">1</div><div *ngIf="!hasZone('1')" style="color: #f0eef6; font-size: 7mm; line-height: 15mm;">✕</div></div>
        <div><div *ngIf="hasZone('2')" style="color: #2b1c53">2</div><div *ngIf="!hasZone('2')" style="color: #f0eef6; font-size: 7mm; line-height: 15mm;">✕</div></div>
        <div><div *ngIf="hasZone('3')" style="color: #2b1c53">3</div><div *ngIf="!hasZone('3')" style="color: #f0eef6; font-size: 7mm; line-height: 15mm;">✕</div></div>
        <div><div *ngIf="hasZone('4')" style="color: #2b1c53">4</div><div *ngIf="!hasZone('4')" style="color: #f0eef6; font-size: 7mm; line-height: 15mm;">✕</div></div>
        <div><div *ngIf="hasZone('5')" style="color: #2b1c53">5</div><div *ngIf="!hasZone('5')" style="color: #f0eef6; font-size: 7mm; line-height: 15mm;">✕</div></div>
        <div><div *ngIf="hasZone('6')" style="color: #2b1c53">6</div><div *ngIf="!hasZone('6')" style="color: #f0eef6; font-size: 7mm; line-height: 15mm;">✕</div></div>
        <div><div *ngIf="hasZone('7')" style="color: #2b1c53">7</div><div *ngIf="!hasZone('7')" style="color: #f0eef6; font-size: 7mm; line-height: 15mm;">✕</div></div>
        <div><div *ngIf="hasZone('8')" style="color: #2b1c53">8</div><div *ngIf="!hasZone('8')" style="color: #f0eef6; font-size: 7mm; line-height: 15mm;">✕</div></div>
      </div>

    </div>

    <div style="position: absolute; border: 0.3mm solid #2b1c53; right: 2mm; padding: 1mm 2mm; width: 55mm; bottom: 16mm; height: 48mm;">

      <div style="position: absolute; left: 2mm; right: 2mm; top: 3mm; display: flex; justify-content: space-around;">
        <div style="width: 10mm;"><div *ngIf="hasZone('T')" class="symbol symbol-transport"></div></div>
        <div style="width: 10mm;"><div *ngIf="hasZone('SKO')" class="symbol symbol-skillout"></div></div>
        <div style="width: 10mm;"><div *ngIf="hasZone('OSOC')" class="symbol symbol-osoc"></div></div>
        <div style="width: 10mm;"><div *ngIf="hasZone('E')" class="symbol symbol-excursions"></div></div>
      </div>


      <div style="position: absolute; left: 16mm; bottom: 5mm;">
        <img src="{{pa.qr_code}}" style="height: 22mm;">
      </div>
  
    </div>

    <div style="-webkit-print-color-adjust: exact; background-color: {{pa.delegate_type?.color}} !important; height: 12mm; right: 2mm; position: absolute; left: 2mm; bottom: 2mm; display: flex; justify-content: center; align-items: center;">
      <div style="flex-grow: 1; text-align: center;">
        <div style="white-space: nowrap; font-weight: 700; font-size: 6mm; -webkit-print-color-adjust: exact; color: {{pa.delegate_type?.text_color}} !important;">{{pa.delegate_type?.code}}</div>
      </div>
    </div>

  </div>

</div>
