<div class="ws-badge" *ngIf="showComponent">

    <div style="position: relative; width: 112mm; height: 130mm; margin: 3mm 4mm; margin-top: 25mm;">

    <div style="position: absolute; top: 4mm; left: 2mm;">
      <img *ngIf="pa.image" src="{{pa.image.thumbnail}}_accreditation" style="width: 30mm; height: 40mm;"/>
    </div>

    <div style="position: absolute; left: 37mm; top: 4mm; right: 0; height: 18mm; font-weight: 700; font-size: 28px; line-height: 1.2; text-transform: uppercase;" class="ws-text-fit">
      <div style="-webkit-print-color-adjust: exact; color: #2E1651 !important;">
        {{pa.first_name || "&nbsp;"}}
      </div>
      <div style="-webkit-print-color-adjust: exact; color: #2E1651 !important;">
        {{pa.last_name || "&nbsp;"}}
      </div>
    </div>

    <div style="position: absolute; left: 37mm; top: 23mm; right: 0; height: 8mm; font-weight: 400; font-size: 23px; line-height: 1.3;" class="ws-text-fit">
      <div style="-webkit-print-color-adjust: exact; color: #D51067 !important;">{{pa.lines[0]}}</div>
    </div>

    <div style="position: absolute; left: 37mm; top: 31mm; right: 0; height: 7mm; font-weight: 400; font-size: 20px; line-height: 1.3;" class="ws-text-fit">
      <div style="-webkit-print-color-adjust: exact; color: #2E1651 !important;">{{pa.lines[1]}}</div>
    </div>

    <div style="position: absolute; left: 37mm; top: 38mm; right: 0; height: 7mm; font-weight: 400; font-size: 20px; line-height: 1.3;" class="ws-text-fit">
      <div style="-webkit-print-color-adjust: exact; color: #D51067 !important;">{{pa.lines[2]}}</div>
    </div>

    <div *ngIf="!hasAnyZone(['DP1', 'DP2', 'DP3', 'DP4'])">

      <div style="position: absolute; left: 6mm; right: 6mm; top: 47mm; display: flex; justify-content: space-around;">
        <div style="width: 20mm;"><div *ngIf="hasZone('EXP')" class="icon icon-pink">EXP</div></div>
        <div style="width: 20mm;"><div *ngIf="hasZone('OC')" class="icon icon-pink">OC</div></div>
        <div style="width: 20mm;"><div *ngIf="hasZone('CC')" class="icon icon-pink">CC</div></div>
        <div style="width: 20mm;"><div *ngIf="hasZone('FPT')" class="icon icon-pink">FPT</div></div>
      </div>

      <div style="position: absolute; display: flex; border: 0.3mm solid #2E1651; left: 0; padding: 1mm 2mm; width: 55mm; bottom: 16mm; height: 46mm;">

        <div style="flex: 1; display: grid; grid-template-columns: repeat(3, 1fr); grid-template-rows: repeat(3, 1fr); text-align: center; font-size: 10mm; font-weight: 600; -webkit-print-color-adjust: exact;">
          <div style="align-self: center; justify-self: center;">
            <div *ngIf="hasZone('0') && !hasAnyZone(['0C', '0E'])" style="color: #2E1651">0</div>
            <div *ngIf="hasZone('0C') && !hasAnyZone(['0E'])" style="color: #2E1651">0C</div>
            <div *ngIf="hasZone('0E')" style="color: #2E1651">0E</div>
            <div *ngIf="!hasAnyZone(['0', '0C', '0E'])" class="symbol symbol-empty"></div>
          </div>
          <div style="align-self: center; justify-self: center;"><div *ngIf="hasZone('1')" style="color: #2E1651">1</div><div *ngIf="!hasZone('1')" class="symbol symbol-empty"></div></div>
          <div style="align-self: center; justify-self: center;"><div *ngIf="hasZone('2')" style="color: #2E1651">2</div><div *ngIf="!hasZone('2')" class="symbol symbol-empty"></div></div>
          <div style="align-self: center; justify-self: center;"><div *ngIf="hasZone('3')" style="color: #2E1651">3</div><div *ngIf="!hasZone('3')" class="symbol symbol-empty"></div></div>
          <div style="align-self: center; justify-self: center;"><div *ngIf="hasZone('4')" style="color: #2E1651">4</div><div *ngIf="!hasZone('4')" class="symbol symbol-empty"></div></div>
          <div style="align-self: center; justify-self: center;"><div *ngIf="hasZone('5')" style="color: #2E1651">5</div><div *ngIf="!hasZone('5')" class="symbol symbol-empty"></div></div>
          <div style="align-self: center; justify-self: center;"><div *ngIf="hasZone('6')" style="color: #2E1651">6</div><div *ngIf="!hasZone('6')" class="symbol symbol-empty"></div></div>
          <div style="align-self: center; justify-self: center;"><div *ngIf="hasZone('7')" style="color: #2E1651">7</div><div *ngIf="!hasZone('7')" class="symbol symbol-empty"></div></div>
          <div style="align-self: center; justify-self: center;"><div *ngIf="hasZone('8')" style="color: #2E1651">8</div><div *ngIf="!hasZone('8')" class="symbol symbol-empty"></div></div>
        </div>

      </div>

      <div style="position: absolute; display: flex; flex-direction: column; border: 0.3mm solid #2E1651; right: 0; padding: 4mm 1mm 0 1mm; width: 55mm; bottom: 16mm; height: 46mm;">

        <div style="display: flex; justify-content: space-around;">
          <div style="width: 9mm;"><div *ngIf="hasZone('T')" class="symbol symbol-transport"></div><div *ngIf="!hasZone('T')" class="symbol symbol-empty"></div></div>
          <div style="width: 9mm;"><div *ngIf="hasZone('SKO')" class="symbol symbol-skillout"></div><div *ngIf="!hasZone('SKO')" class="symbol symbol-empty"></div></div>
          <div style="width: 9mm;"><div *ngIf="hasZone('OSOC')" class="symbol symbol-osoc"></div><div *ngIf="!hasZone('OSOC')" class="symbol symbol-empty"></div></div>
          <div style="width: 9mm;"><div *ngIf="hasZone('CAT')" class="symbol symbol-catering"></div><div *ngIf="!hasZone('CAT')" class="symbol symbol-empty"></div></div>
          <div style="width: 9mm;"><div *ngIf="hasZone('E')" class="symbol symbol-excursions"></div><div *ngIf="!hasZone('E')" class="symbol symbol-empty"></div></div>
        </div>


        <div style="display: flex; justify-content: space-around; align-items: center; flex-grow: 1;">
          <img src="{{pa.qr_code}}" style="height: 30mm;">
        </div>
    
      </div>

    </div>

    <div *ngIf="hasAnyZone(['DP1', 'DP2', 'DP3', 'DP4'])">

      <div style="position: absolute; left: 6mm; right: 6mm; top: 47mm; display: flex; justify-content: space-around;">
        <div style="width: 20mm;"><div class="icon icon-pink">EXP</div></div>
        <div style="width: 20mm;"></div>
        <div style="width: 20mm;"></div>
        <div style="width: 20mm;"></div>
      </div>

      <div style="position: absolute; display: flex; flex-direction: column; justify-content: space-around; align-items: center; left: 1mm; right: 1mm; bottom: 28mm; height: 34mm;">

        <div style="font-weight: 700; font-size: 16mm; line-height: 1; -webkit-print-color-adjust: exact; color: #2E1651 !important;">DAY PASS</div>

        <div style="font-weight: 400; font-size: 10mm; line-height: 1; -webkit-print-color-adjust: exact; color: #2E1651 !important;">
          <div *ngIf="hasZone('DP1') && !hasAnyZone(['DP2', 'DP3', 'DP4'])">11.09.2024</div>
          <div *ngIf="hasZone('DP2') && !hasAnyZone(['DP3', 'DP4'])">12.09.2024</div>
          <div *ngIf="hasZone('DP3') && !hasAnyZone(['DP4'])">13.09.2024</div>
          <div *ngIf="hasZone('DP4')">14.09.2024</div>
        </div>

      </div>

    </div>

    <div style="-webkit-print-color-adjust: exact; background-color: {{pa.delegate_type?.color}} !important; height: 14mm; right: 0; position: absolute; left: 0; bottom: 0; display: flex; justify-content: center; align-items: center;">
      <div style="flex-grow: 1; text-align: center;">
        <div style="white-space: nowrap; font-weight: 700; font-size: 6mm; -webkit-print-color-adjust: exact; color: {{pa.delegate_type?.text_color}} !important;">{{pa.delegate_type?.code}}</div>
      </div>
    </div>

  </div>

</div>
