.ws-badge {
  margin: 0 auto !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.watermark-container {
  position: relative;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.watermark-container::before {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.6;
  pointer-events: none;
  z-index: 99;
  background: repeating-linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0.1) 0,
    rgba(0, 0, 0, 0.1) 20px,
    transparent 20px,
    transparent 40px
  );
}

.watermark-text {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 6rem;
  opacity: 0.3;
  z-index: 99;
}
