<div class="card">
  <h5 class="card-header m-0">{{'filter' | translate}}</h5>
  <div class="card-body">
    <form class="form-horizontal" (ngSubmit)="submit()" #form="ngForm" novalidate>
      <div class="row mb-2">
        <div class="col-sm-12">
          <label class="small text-muted font-weight-bold my-0 py-0">{{'delegate_type' | translate}}</label>
          <ng-select
            name="delegate_type"
            [ngModel]="fetchParams.delegate_type"
            [items]="delegateTypes"
            bindValue="id"
            bindLabel="name"
          >
            <ng-template ng-label-tmp let-item="item">
              <div class="d-inline-block" style="width: 15px; height: 15px; " [style.background-color]="item.color"></div>
              <div class="d-inline-block ml-2">{{item.name}}</div>
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-index="index">
              <div class="d-inline-block" style="width: 15px; height: 15px; " [style.background-color]="item.color"></div>
              <div class="d-inline-block ml-2">{{item.name}}</div>
            </ng-template>
          </ng-select>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-sm-12">
          <label class="small text-muted font-weight-bold my-0 py-0">{{'member' | translate}}</label>
          <ng-select
            [wsSelect]="['id', 'name.text']"
            name="member"
            [ngModel]="fetchParams.member"
            [items]="members"
          ></ng-select>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-sm-12">
          <label class="small text-muted font-weight-bold my-0 py-0">{{'zone' | translate}}</label>
          <ng-select
            name="zone"
            [ngModel]="fetchParams.zone"
            [items]="zones"
            bindValue="id"
            bindLabel="name"
          >
            <ng-template ng-label-tmp let-item="item">
              <div class="d-inline-block" style="width: 15px; height: 15px; " [style.background-color]="item.color"></div>
              <div class="d-inline-block ml-2">{{item.name}} ({{item.code}})</div>
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-index="index">
              <div class="d-inline-block" style="width: 15px; height: 15px; " [style.background-color]="item.color"></div>
              <div class="d-inline-block ml-2">{{item.name}} ({{item.code}})</div>
            </ng-template>
          </ng-select>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-sm-12">
          <label class="small text-muted font-weight-bold my-0 py-0">{{'from' | translate}}</label>
          <ws-datetime-picker name="dateFrom" [(ngModel)]="from"
                              [seconds]="true"
                              [readonly]="true"
                              inputDatetimeFormat="dd MMM yyyy HH:mm:ss"></ws-datetime-picker>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-sm-12">
          <label class="small text-muted font-weight-bold my-0 py-0">{{'to' | translate}}</label>
          <ws-datetime-picker name="dateTo" [(ngModel)]="to"
                              [seconds]="true"
                              [readonly]="true"
                              inputDatetimeFormat="dd MMM yyyy HH:mm:ss"></ws-datetime-picker>
        </div>
      </div>


      <div class="row mb-2 text-right">
        <div class="col-sm-12">
          <button class="btn btn-sm btn-outline-primary" [disabled]="loading">{{'export' | translate}}</button>
          <button class="btn btn-sm btn-primary ml-2" type="submit" [disabled]="loading">{{'set_filter' | translate}}</button>
        </div>
      </div>

    </form>
  </div>
</div>
