.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.r-tab-content {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 7px;
}

.datePicker {
	width: 140px;
}

.filterSelect {
	min-width: 230px;
}

.personImage img{ max-width: 100%; min-height: 100px; }