<h3>{{ 'allocation' | translate | titlecase }} <br><span
  class="text-muted small font-weight-light">{{ currentForm?.name.text }}</span></h3>


<div class="row">
  <div class="col-md-6">
    <app-zone-request-allocation-pending *ngIf="!!selectedEvent && !!currentForm"
                                         [selectedEvent]="selectedEvent"
                                         [zones]="zones"
                                         [currentForm]="currentForm"
                                         [allocatableZones]="allocatableZones">
    </app-zone-request-allocation-pending>
  </div>
  <div class="col-md-6">
    <app-zone-request-allocation-allocated *ngIf="!!selectedEvent && !!currentForm"
                                           [selectedEvent]="selectedEvent"
                                           [zones]="zones"
                                           [currentForm]="currentForm"
                                           [allocatableZones]="allocatableZones">
    </app-zone-request-allocation-allocated>
  </div>
</div>
