<div class="card">
  <div class="card-header">
    <h5 class="card-title">{{ 'allocated_requests' | translate | titlecase }}</h5>
  </div>
  <div class="card-body">
    <div class="text-muted small">
      <div class="row">
        <div class="col-md-6">
          <p class="mb-2">{{ 'total_zones' | translate }}: {{ allocatableZones?.length ?? 0 }}</p>
          <p class="mb-2">{{ 'total_allocated' | translate }}: {{ allocations?.length ?? 0 }}</p>
        </div>
        <div class="col-md-6">
          <p class="mb-2">{{ 'wristband_distributed' | translate }}: {{ getWristbandDistributedCount() }}
            / {{ allocations?.length ?? 0 }}</p>
          <p class="mb-2">{{ 'email_confirmation_sent' | translate }}: {{ getEmailNotificationSentCount() }}
            / {{ allocations?.length ?? 0 }}</p>
        </div>
      </div>
    </div>

    <div *ngIf="allocations?.length - getEmailNotificationSentCount() !== 0" class="small alert alert-warning">
      {{ allocations?.length - getEmailNotificationSentCount() }} allocations are awaiting notification emails. <span class="btn btn-sm btn-link p-0 m-0">Click here</span> to send them now.
    </div>

    <div class="table-responsive-md">
      <table class="table table-sm">
        <colgroup>
          <col style="width: 20%">
          <col style="width: 10%">
          <col style="width: 70%">
        </colgroup>
        <thead>
        <tr>
          <th>{{ 'zone' | translate | titlecase }}</th>
          <th>{{ 'quota' | translate | titlecase }}</th>
          <th>{{ 'organizations' | translate | titlecase }}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let zoneReq of currentForm.zones">
          <td class="small">
                <span class="badge mr-1 small" [style.background-color]="zoneReq.zone.color"
                      [ngbTooltip]="zoneReq.zone.name"
                      [style.color]="zoneReq.zone.text_color">{{ zoneReq.zone.code }}</span>
            <br>
            {{ zoneReq.zone.name }}

            <br>
            <div class="btn btn-sm btn-link p-0 m-0" (click)="manualAllocationToZone = zoneReq.zone">Allocate</div>
          </td>
          <td>
            <span class="badge badge-light small">{{ getAllocationsForZone(zoneReq.zone)?.length }} / {{ zoneReq.quota }}</span>
          </td>
          <td>
            <ul class="list-unstyled">
              <li *ngFor="let allocation of getAllocationsForZone(zoneReq.zone)">
                <div>
                  <span class="fa fa-inbox mr-1"
                        style="cursor: pointer"
                        [ngClass]="allocation.notification_sent_at !== null ? 'text-success' : ''"
                        [ngbTooltip]="allocation.notification_sent_at !== null ? ('Email notification was sent at : ' + allocation.notification_sent_at) : 'Email notification is not sent yet' "></span>
                  <span class="fa fa-hand-grab-o mr-1"
                        style="cursor: pointer"
                        [ngClass]="allocation.wristband_distributed_at !== null ? 'text-success' : ''"
                        [ngbTooltip]="allocation.wristband_distributed_at !== null ? ('Wristband was distributed at : ' + allocation.wristband_distributed_at) : 'Wristband is not distributed yet. Click to mark as distributed.'"
                        (click)="updateWristband(allocation.wristband_distributed_at !== null, allocation.id)"
                  ></span>
                  <span class="badge badge-pill badge-light small">
                    <b>{{ allocation.zone_request.person_accreditation.organization_name }}</b>,
                    {{ allocation.zone_request.person_accreditation.person.first_name + ' ' + allocation.zone_request.person_accreditation.person.last_name }}
                </span>
                </div>
              </li>
            </ul>
          </td>

        </tbody>
      </table>
    </div>
  </div>
</div>


<ws-modal *ngIf="manualAllocationToZone" [open]="manualAllocationToZone !== null" (onClose)="manualAllocationToZone = null" [options]="{size: 'md', centered: true}">
  <ng-container header>
    <h4>{{'manual_allocation' | translate}} to {{manualAllocationToZone?.name}}</h4>
  </ng-container>
  <ng-container body>
    <ng-select name="person">

    </ng-select>

<!--    <button class="btn btn-sm btn-primary mt-2 float-right" (click)="allocate(null, allocateZoneDropdown.selectedValues[0])">{{ 'save' | translate }}</button>-->
  </ng-container>
</ws-modal>
