<ws-staging-banner *ngIf="environmentWarning" [message]="environmentWarning"></ws-staging-banner>
<ws-puppeteer-banner [currentUser]="currentUser"></ws-puppeteer-banner>
<ws-auth-header [appName]="'app_name_accreditation' | translate"
                [menuItems]="menuItems" [autoLoginOnLogout]="true"></ws-auth-header>

<div class="container">
  <div class="clearfix"></div>
  <ws-alerts></ws-alerts>
  <router-outlet (activate)="onActivate($event)"></router-outlet>
</div>

<ws-footer
  [currentUser]="currentUser"
  (loginClick)="login()"
  (logoutClick)="logout()"
  [isLoggedIn]="currentUser && isLoggedIn"
></ws-footer>
