<ng-container *ngIf="showWSLayout; else emptyPage">
  <ws-staging-banner *ngIf="environmentWarning" [message]="environmentWarning"></ws-staging-banner>
  <ws-puppeteer-banner [currentUser]="currentUser"></ws-puppeteer-banner>
  <ws-auth-header [appName]="'app_name_accreditation' | translate"
                  [menuItems]="menuItems" [autoLoginOnLogout]="true"></ws-auth-header>
  <lib-toastify-toast-container [autoClose]="4000"></lib-toastify-toast-container>

  <div class="container">
    <router-outlet (activate)="onActivate($event)"></router-outlet>
  </div>

  <ws-footer
    [currentUser]="currentUser"
    (loginClick)="login()"
    (logoutClick)="logout()"
    [isLoggedIn]="currentUser && isLoggedIn"
  ></ws-footer>
</ng-container>

<ng-template #emptyPage>
  <router-outlet (activate)="onActivate($event)"></router-outlet>
</ng-template>
