<ws-staging-banner *ngIf="environmentWarning" [message]="environmentWarning"></ws-staging-banner>
<ws-puppeteer-banner [currentUser]="currentUser"></ws-puppeteer-banner>
<ws-auth-header [appName]="'app_name_accreditation' | translate"
                [menuItems]="menuItems" [autoLoginOnLogout]="true"></ws-auth-header>
<lib-toastify-toast-container [autoClose]="3000"></lib-toastify-toast-container>

<div class="container">
  <ws-breadcrumbs *ngIf="showBreadcrumb" [showHomeItem]="true" [homeItemText]="'Events' | translate"
                  [homeItemRoute]="'/'">
  </ws-breadcrumbs>
  <div *ngIf="!showBreadcrumb" class="mt-5"></div>
  <div class="clearfix"></div>
  <ws-alerts></ws-alerts>
  <router-outlet (activate)="onActivate($event)"></router-outlet>
</div>

<ws-footer
  [currentUser]="currentUser"
  (loginClick)="login()"
  (logoutClick)="logout()"
  [isLoggedIn]="currentUser && isLoggedIn"
></ws-footer>
