@page {
  padding: 0;
  margin: 0;
  size: 111mm 154mm !important;
}

.wse-badge {
  width: 111mm;
  height: 154mm;
  background-color: #E7D9CF;
  font-weight: 500;
  font-size: 4mm;
  overflow: hidden;
  page-break-after: always;
}

@media screen {
  .wse-badge {
    margin: 10mm auto;
  }
}

.wse-secondary {
  color: #731C18;
}

.wse-header {
  width: 111mm;
  height: 37mm;
}

.wse-grid {
  padding: 4mm 10mm;
  display: grid; 
  grid-template-columns: 3fr 7fr;
  grid-template-rows: repeat(4, auto); 
  grid-column-gap: 5mm;
  grid-row-gap: 3mm;
  grid-template-areas: 
    "photo info"
    "aaa ."
    "zones zones"
    "delegate-type delegate-type"; 
}

.wse-grid-photo {
  grid-area: photo;
  height: 35mm;
}

.wse-grid-photo img {
  width: 100%;
}

.wse-grid-info {
  grid-area: info;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wse-name {
  font-weight: 800;
  line-height: 1.1;
  text-transform: uppercase;
  height: 14mm;
}

.wse-lines {
  line-height: 1.3;
  height: 18mm;
}

.wse-grid-aaa {
  grid-area: aaa;
  height: 11mm;
}

.wse-aaa {
  width: 100%;
}

.wse-grid-zones {
  grid-area: zones;
  border: 0.3mm solid #000;
  display: flex;
  justify-content: space-between;
}

.wse-zones-grid {
  padding: 3mm;
  padding-bottom: 1mm;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 4mm;
  grid-row-gap: 1mm;
}

.wse-zone {
  width: 11mm;
  height: 14mm;
}

.wse-zone-village {
  height: 16mm;
}

.wse-qrcode {
  display: block;
  width: 37mm;
  height: 37mm;
}

.wse-grid-delegate-type {
  grid-area: delegate-type;
  font-weight: 800;
  font-size: 5mm;
  line-height: 12mm;
  text-transform: uppercase;
  text-align: center;
  -webkit-print-color-adjust: exact;
}

