<div class="card">
  <h5 class="card-header m-0">{{'filter' | translate}}</h5>
  <div class="card-body">
    <form class="form-horizontal" novalidate>
      <!--          (ngSubmit)="submit()" #form="ngForm"-->
      <!--          (change)="onChange()"-->

      <div class="form-group row">
        <div class="col-sm-12">
          <input
            type="text"
            placeholder="{{'name' | translate}}"
            class="form-control"
            name="name"
            [ngModel]="fetchParams.name">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-12">
          <ng-select
            name="delegate_type"
            [ngModel]="fetchParams.del_types"
            placeholder="{{'delegate_type' | translate}}"
            [multiple]="true"></ng-select>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-12">
          <ng-select
            name="position"
            [ngModel]="fetchParams.pos_id"
            placeholder="{{'position' | translate}}"
            [multiple]="true"></ng-select>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-12">
          <ng-select
            name="member"
            [ngModel]="fetchParams.member"
            placeholder="{{'member' | translate}}"
            [multiple]="true"></ng-select>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-12">
          <ng-select
            name="skill"
            [ngModel]="fetchParams.skill"
            placeholder="{{'skill' | translate}}"
            [multiple]="true"></ng-select>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-12">
          <input
            type="text"
            placeholder="{{'group_name' | translate}}"
            class="form-control"
            name="group_name"
            [ngModel]="fetchParams.group">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-12">
          <ng-select
            name="zone"
            [ngModel]="fetchParams.zone"
            placeholder="{{'zone' | translate}}"
            [multiple]="true"></ng-select>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-12">
          <ng-select
            name="has_photo"
            [ngModel]="fetchParams.photo"
            placeholder="{{'has_photo' | translate}}?"
            [multiple]="true"></ng-select>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-12">
          <ng-select
            name="printed"
            [ngModel]="fetchParams.printed"
            placeholder="{{'printed' | translate}}"
            [multiple]="true"></ng-select>
        </div>
      </div>

    </form>
  </div>
</div>
