<ng-container *ngIf="!loading; else loadingAnimation">
  <div class="row">
    <div class="col-md-12 text-right">
      <button class="btn btn-sm btn-primary"
              (click)="addNew()">{{ 'add_new_form_request' | translate | titlecase }}
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive-md">
        <table class="table table-striped">
          <colgroup>
            <col style="width: 45%">
            <col style="width: 35%">
            <col style="width: 20%">
          </colgroup>
          <thead>
          <tr>
            <th class="border-top-0">{{ 'name' | translate }}</th>
            <th class="border-top-0">{{ 'header_text' | translate }}</th>
            <th class="border-top-0">{{ 'action' | translate }}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let form of forms">
            <td>
              <a class="btn btn-link m-0 p-0" (click)="updateForm(form)">{{ form.name.text }}</a>
              <br>
              <span class="badge badge-success" *ngIf="form.open_for_request">OPEN FOR REQUEST</span>
              <span class="badge badge-dark" *ngIf="!form.open_for_request">CLOSED FOR REQUEST</span>
            </td>
            <td>{{ form.header_text.text }}</td>
            <td>
              <button type="button" class="btn btn-link btn-sm small w-100 p-0 m-0" #copyFormBtn
                      (click)="copyURLToClipboard(form,copyFormBtn)">
                <i class="fa fa-link"></i> {{'copy_form_link' | translate}}
              </button>
              <button type="button" class="btn btn-link btn-sm small w-100 p-0 m-0 mt-2" (click)="allocate(form)">
                <i class="fa fa-eye"></i> {{'view_and_allocate_submissions' | translate}}
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <span class="text-muted">{{ 'total_results' | translate }}: {{ forms?.length }}</span>
    </div>
  </div>
</ng-container>

<ng-template #loadingAnimation>
  <ngx-skeleton-loader
    count="10"
    [theme]="{ 'border-radius': '0', width: '100%', height: '30px', 'margin-bottom': '15px' }"></ngx-skeleton-loader>
</ng-template>


<ws-modal [open]="manageForm !== null" (onClose)="manageForm = null" [options]="{size: 'lg'}">
  <ng-container header>
    <h4 *ngIf="manageForm?.id === 0">{{ 'add_new_zone_request_form' | translate }}</h4>
    <h4 *ngIf="manageForm?.id > 0">{{ 'editing' | translate }}: {{ manageForm.name }}</h4>
  </ng-container>
  <ng-container body>
    <app-zone-request-form-form *ngIf="manageForm !== null"
                                [zoneReqForm]="manageForm"
                                [selectedEvent]="selectedEvent"
                                (cancelForm)="manageForm = null"
                                (saveZoneReqForm)="save($event)">

    </app-zone-request-form-form>
  </ng-container>
</ws-modal>
