@page {
    size: A4;
}

.ws-header {
    display: flex;
    align-items: center;
}

.ws-event-name {
    flex-grow: 1;
    font-weight: 700;
    line-height: 1.4;
    text-transform: uppercase;
    overflow-wrap: normal;
}

.ws-logo {
    padding-left: 2em;
}

.ws-images {
    height: 43mm;
}

.ws-name {
    margin: 0;
    font-family: 'Inria Serif', serif;
    height: 18mm;
    text-align: center;
}

.ws-lines {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.8em;
    text-align: center;
}
