<div class="ws-badge" *ngIf="showComponent">
  <div style="display: flex; height: 148mm; overflow: hidden;">

    <div style="flex: 1; display: flex;">
      <div style="flex: 1; display: flex; flex-flow: column; justify-content: space-around; padding: 5mm;">

        <div>
          <div
            style="-webkit-print-color-adjust: exact !important; background-color: #003764 !important; padding: 0.8em;">

            <div class="ws-header">
              <div class="ws-event-name">
                <div style="-webkit-print-color-adjust: exact !important; height: 2.3em; color: #fff !important;" class="ws-text-fit">
                  {{currentEvent.name.text}}
                </div>
              </div>
              <div class="ws-logo">
                <img src="assets/badges/default/logo.svg" width="68" height="40" alt="WorldSkills" />
              </div>
            </div>

          </div>

          <div
            style="-webkit-print-color-adjust: exact !important; background-color: #003764 !important; height: 2px; width: 100%; margin-top: 2px; margin-bottom: 0.6em;">
          </div>
        </div>

        <div class="row ws-images">
          <div class="col-5">

            <p>
              <img *ngIf="pa.image" src="{{pa.image.thumbnail}}_accreditation"
                   class="img-responsive" width="120" alt="User Image"/>
            </p>

          </div>
          <div class="col-7 text-center">

            <div>
              <div class=""><img src="{{pa.qr_code}}" class="img-responsive center-block" width="160"></div>
            </div>

          </div>
        </div>

        <h3 class="ws-name ws-text-fit"
          style="-webkit-print-color-adjust: exact; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: #003764 !important;">
          {{pa.first_name}} {{pa.last_name}}
        </h3>

        <div class="ws-lines"
          style="-webkit-print-color-adjust: exact; background-color: {{pa.position.color}} !important; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-weight: 400;">
            <div style="color: {{pa.position.text_color}} !important; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-weight: 600;">{{pa.lines[0]}}</div>
          <div style="color: {{pa.position.text_color}} !important; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{pa.lines[1]}}</div>
          <div style="color: {{pa.position.text_color}} !important; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{pa.lines[2]}}</div>
        </div>

        <div style="overflow: hidden; height: 12mm; margin: 0.8em 0;" *ngIf="pa.zones.length > 0">
          <span *ngFor="let zone of pa.zones">
            <span
              style="-webkit-print-color-adjust: exact; display: inline-block; padding: 6px 12px; margin-right: 6px; margin-bottom: 6px; background-color: {{zone.color}} !important; color: {{zone.text_color}} !important;">{{ zone.code }}</span>
          </span>
        </div>

      </div>
    </div>

    <div style="flex: 1; display: flex; font-size: 10px;">
      <div style="padding: 5mm; flex: 1; display: flex; flex-flow: column;">

        <div style="flex: 1 1 auto;">
          <div *ngIf="pa.zones.length > 0">
            <h5 style="font-size: 10px; font-weight: 400;">{{'access_to_zones' | translate}}</h5>
            <p>
              <span *ngFor="let zone of pa.zones">
                  {{zone.code}} - {{zone.name}}
                <br/>
              </span>
            </p>
          </div>
        </div>

        <div>
          <p>
            {{currentEvent.name.text}}
            <br>
            {{currentEvent.start_date | date:'dd.MM.yyyy'}} - {{currentEvent.end_date | date:'dd.MM.yyyy'}}
          </p>

          <hr>

          <p>{{'accreditation_badge_disclaimer_info' | translate}}</p>

          <p><span>{{'generated_on' | translate}}</span>: {{currentDate | date:'dd.MM.yyyy HH:mm'}}</p>
        </div>

      </div>

    </div>
  </div>
</div>
