<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Existing Information</h5>
      </div>
      <div class="card-body">
        <div class="row mb-2">
          <div class="col-md-4" *ngFor="let pi of personAcr.person.images">
            <img src="{{pi.thumbnail}}" [title]="pi.type"
                 width="100"
                 height="125"
                 class="object-fit-cover"
                 alt="{{pi.type}} photo of {{personAcr.person.first_name}}">
          </div>
        </div>

        <div class="form-group">
          <label class="small text-muted font-weight-bold my-0 py-0">{{'name' | translate}}</label>
          <p>{{personAcr.person.first_name}} {{personAcr.person.last_name}}</p>
        </div>

        <div class="form-group">
          <label class="small text-muted font-weight-bold my-0 py-0">{{'position' | translate}}</label>
          <p>
            {{personAcr.person_position.position.name.text}} <br>
            {{personAcr.person_position.position.wsEntity.name.text}}
          </p>
        </div>

        <div class="form-group">
          <label class="small text-muted font-weight-bold my-0 py-0">{{'delegate_type' | translate}}</label>
          <p>
            {{personAcr.position_delegate_type.delegate_type.name}} <br>

            <ng-container *ngFor="let zone of personAcr.position_delegate_type.delegate_type.zones">
              <span class="badge mr-1 small" [style.background-color]="zone.color"
                   [ngbTooltip]="zone.name"
                   [style.color]="zone.text_color">{{zone.code}} - {{zone.name}}</span>
              <br>
            </ng-container>
          </p>
        </div>

        <div class="form-group">
          <label class="small text-muted font-weight-bold my-0 py-0">{{'package_options' | translate}}</label>
          <p>
            <span *ngFor="let poz of personAcr.package_option_zones">
              {{poz.package_option.name.text}}: {{poz.zone.code}} - {{poz.zone.name}}
            </span>
          </p>
        </div>

      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Manual Override</h5>
      </div>
      <div class="card-body">

      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Preview Badge</h5>
      </div>
      <div class="card-body">

      </div>
    </div>
  </div>
</div>
