AddType application/vnd.ms-fontobject .eot
AddType application/x-font-ttf .ttf
AddType application/font-woff .woff
AddType application/font-woff2 .woff2

RewriteEngine on
RewriteCond %{HTTP_REFERER} !^http(s)?://accreditation.worldskills.org [NC]
RewriteCond %{HTTP_REFERER} !^http(s)?://accreditation.worldskills.show [NC]
RewriteCond %{HTTP_REFERER} !^http(s)?://localhost:8000 [NC]
RewriteCond %{HTTP_REFERER} !^http(s)?://localhost [NC]
RewriteRule \.(eot|ttf|woff|woff2)$ - [NC,F,L]

<FilesMatch "\.(eot|ttf|woff|woff2)$">
    <IfModule mod_headers.c>
        Header set Access-Control-Allow-Origin "*"
    </IfModule>
    <IfModule mod_expires.c>
        ExpiresActive On
        ExpiresDefault "access plus 30 days"
    </IfModule>
</FilesMatch>
