<div class="row">
  <div class="col-md-9 people-result">
    <ng-container *ngIf="!loading; else loadingAnimation">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th class="border-top-0 text-truncate">
              <input type="checkbox" [(ngModel)]="allChecked" (change)="checkAll()">
            </th>
            <th class="border-top-0 text-truncate">
              <a (click)="$event.preventDefault(); sort('firstname')">{{'first_name' | translate}}</a>
            </th>
            <th class="border-top-0 text-truncate">
              <a (click)="$event.preventDefault(); sort('lastname')">{{'last_name' | translate}}</a>
            </th>
            <th class="border-top-0 text-truncate">{{'delegate_type' | translate}}</th>
            <th class="border-top-0 text-truncate" *ngIf="showZones">{{'zones' | translate}}</th>
            <th class="border-top-0 text-truncate" *ngIf="showLines">{{'badge_lines' | translate}}</th>
            <th class="border-top-0 text-truncate" *ngIf="showMember">{{'member' | translate}}</th>
            <th class="border-top-0" *ngIf="functionalitiesDisplaySetting.select_a_person">{{'action' | translate}}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let personAcr of result.people">
            <td style="width: 2rem;">
              <input type="checkbox" [(ngModel)]="personAcr.checked">
            </td>
            <td class="text-truncate" style="width: 12rem;">
              <a [routerLink]="functionalitiesDisplaySetting.person_profile_visit ? personAcr.id +'' : null">
                <ng-container *ngIf="personAcr.first_name">{{personAcr.first_name}}</ng-container>
                <ng-container *ngIf="!personAcr.first_name">{{'empty_hint' | translate}}</ng-container>
              </a>
            </td>
            <td class="text-truncate" style="width: 14rem;">
              <a [routerLink]="functionalitiesDisplaySetting.person_profile_visit ? personAcr.id +'' : null">
                <ng-container *ngIf="personAcr.last_name">{{personAcr.last_name}}</ng-container>
                <ng-container *ngIf="!personAcr.last_name">{{'empty_hint' | translate}}</ng-container>
              </a>
            </td>
            <td class="text-truncate" style="max-width: 10rem;">
              <div class="badge" [ngbTooltip]="personAcr.delegate_type.name" [style.background-color]="personAcr.delegate_type.color" [style.color]="personAcr.delegate_type.text_color">{{personAcr.delegate_type.name}}</div>
            </td>
            <td class="text-truncate" style="max-width: 16rem;" *ngIf="showZones">
              <ng-container *ngFor="let zone of personAcr.zones">
                <div class="badge mr-1 small" [style.background-color]="zone.color"
                     [ngbTooltip]="zone.name"
                     [style.color]="zone.text_color">{{zone.code}}</div>
              </ng-container>
            </td>
            <td *ngIf="showLines" style="max-width: 16rem;">
              <div class="text-truncate">{{personAcr.lines[0]}}</div>
              <div class="text-truncate">{{personAcr.lines[1]}}</div>
              <div class="text-truncate">{{personAcr.lines[2]}}</div>
            </td>
            <td *ngIf="showMember" class="text-truncate"><span *ngIf="personAcr.member">{{personAcr.member.name.text}}</span></td>
            <td *ngIf="functionalitiesDisplaySetting.select_a_person">
              <button class="btn btn-sm btn-primary small" (click)="selectPerson(personAcr)">{{'choose_person' | translate}}</button>
            </td>
          </tr>
          <tr *ngIf="result?.total_count === 0">
            <td colspan="5">{{'no_people_found' | translate}}</td>
          </tr>
          </tbody>
        </table>
      </div>

    </ng-container>

    <ng-template #loadingAnimation>
      <div style="margin-bottom: 56px;">
        <ngx-skeleton-loader
          count="5"
          [theme]="{ 'border-radius': '0', width: '100%', height: '44px', 'margin-top': '40px', 'margin-bottom': '0' }"></ngx-skeleton-loader>
      </div>
    </ng-template>

    <div class="row">
      <div class="col-lg-9">
        <div class="dropdown">
          <button class="btn btn-sm btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            Actions
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" (click)="editSelected()" href="#" translate [class.disabled]="!hasSelected()">edit_selected</a>
            <a class="dropdown-item" (click)="printSelected()" href="#" translate [class.disabled]="!hasSelected()">print_selected</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="dropdown pull-right">
          <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown">
            Per page
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" (click)="changeLimit(10)" href="#">10</a>
            <a class="dropdown-item" (click)="changeLimit(100)" href="#">100</a>
            <a class="dropdown-item" (click)="changeLimit(1000)" href="#">1000</a>
          </div>
        </div>
      </div>
    </div>

    <ngb-pagination
    class="component-pager"
    [collectionSize]="result?.total_count"
    [page]="(fetchParams.offset / fetchParams.limit) + 1"
    [pageSize]="fetchParams.limit"
    [maxSize]="10"
    [boundaryLinks]="true"
    (pageChange)="fetch($event)">
  </ngb-pagination>

  <p><span class="text-muted">{{'total_results' | translate}}: {{result?.total_count}} {{'people' | translate}}</span></p>

  </div>
  <div class="col-md-3">
    <app-people-filter (filter)="filter($event)"
                       (clear)="clearFilter()"
                       [functionalitiesDisplaySetting]="functionalitiesDisplaySetting"
                       [hasPrintPermission]="hasPrintPermission"
                       [fetchParams]="fetchParams"></app-people-filter>
    <div class="form-check mt-3 pl-4">
      <input type="checkbox" class="form-check-input" [(ngModel)]="showZones" id="showZones">
      <label class="form-check-label small" for="showZones">{{'show_zones' | translate}}</label>
    </div>
    <div class="form-check pl-4">
      <input type="checkbox" class="form-check-input" [(ngModel)]="showLines" id="showLines">
      <label class="form-check-label small" for="showLines">{{'show_badge_lines' | translate}}</label>
    </div>
    <div class="form-check pl-4">
      <input type="checkbox" class="form-check-input" [(ngModel)]="showMember" id="showMember">
      <label class="form-check-label small" for="showMember">{{'show_member' | translate}}</label>
    </div>
  </div>
</div>

<ws-modal [open]="showEditSelectedForm" (onClose)="showEditSelectedForm = false" [options]="{size: 'l'}">
  <ng-container header>
    <h4>{{'edit_selected' | translate}}</h4>
  </ng-container>
  <ng-container body>
    <app-people-edit-selected [selectedEvent]="selectedEvent" [selectedPeople]="selectedPeople" (close)="showEditSelectedForm = false" (saved)="showEditSelectedForm = false; loadPeople()"></app-people-edit-selected>
  </ng-container>
</ws-modal>
