<ng-container *ngIf="currentEvent">
  <div class="row align-items-center" *ngIf="showEventNameHeader">
    <div class="col-md-10">
      <h2 class="mb-0">
        {{currentEvent.name.text}}
        <a class="btn btn-sm btn-link p-0 m-0"
           routerLink="../"
           style="font-size: x-small; vertical-align: bottom">{{'change_event' | translate}}</a>
      </h2>
      <p class="text-muted small">{{currentEvent.start_date | date:'dd MMM yyy'}}
        to {{currentEvent.end_date | date:'dd MMM yyy'}}</p>
    </div>
    <div class="col-md-2 text-right" *ngIf="hasAdHocPrintPermission || hasSetUpScanAppPermission">
      <div class="dropdown">
        <button class="btn btn-sm btn-outline-dark dropdown-toggle"
                type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{'tools' | translate}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" *ngIf="hasSetUpScanAppPermission" (click)="setupScanApp = true">{{'setup_scan_app' | translate}}</a>
          <a class="dropdown-item" *ngIf="hasAdHocPrintPermission" (click)="openAdHocPrinting()">{{'ad_hoc_printing' | translate}}</a>
        </div>
      </div>
    </div>
  </div>


  <mat-tab-group class="event-tabs" mat-stretch-tabs="false" mat-align-tabs="start" animationDuration="0ms"
                 *ngIf="showMenuTabs"
                 [(selectedIndex)]="selectedTabIndex"
                 (selectedTabChange)="navigate($event)">
    <ng-container *ngFor="let tab of tabs">
      <mat-tab [label]="tab.label"></mat-tab>
    </ng-container>

  </mat-tab-group>
  <div class="my-3"></div>
  <router-outlet></router-outlet>
</ng-container>


<ws-modal *ngIf="setupScanApp" [open]="setupScanApp" (onClose)="setupScanApp = false" [options]="{size: 'lg'}">
  <ng-container header>
    <h4>{{'setup_scan_app' | translate}}</h4>
  </ng-container>
  <ng-container body>
    <app-setup-scan-app></app-setup-scan-app>
  </ng-container>
</ws-modal>
