<ng-container *ngIf="currentEvent">
  <h2 class="mb-0">
    {{currentEvent.name.text}}
    <a class="btn btn-sm btn-link p-0 m-0"
       routerLink="../"
       style="font-size: x-small; vertical-align: bottom">{{'change_event' | translate}}</a>
  </h2>
  <p class="text-muted small">{{currentEvent.start_date | date:'dd MMM yyy'}}
    to {{currentEvent.end_date | date:'dd MMM yyy'}}</p>


  <mat-tab-group class="event-tabs" mat-stretch-tabs="false" mat-align-tabs="start" animationDuration="0ms"
                 *ngIf="showMenuTabs"
                 [(selectedIndex)]="selectedTabIndex"
                 (selectedTabChange)="navigate($event)">
    <mat-tab *ngFor="let tab of tabs" [label]="tab.label"></mat-tab>
  </mat-tab-group>
  <div class="my-3"></div>
  <router-outlet></router-outlet>
</ng-container>
