<div class="ws-badge" *ngIf="showComponent; else loadingAnimation">

  <div style="position: relative; width: 210mm; height: 148mm; -webkit-print-color-adjust: exact; background-color: {{vehicle.delegate_type?.color}} !important; color: {{vehicle.delegate_type?.text_color}} !important;">

    <div style="position: absolute; left: 5mm; top: 4mm; padding: 2mm; -webkit-print-color-adjust: exact; background-color: #fff;">
      <img src="{{vehicle.qr_code}}" style="height: 20mm;">
    </div>

    <div style="position: absolute; left: 5mm; top: 50mm; right: 5mm; height: 70mm; line-height: 1;">

      <div style="display: flex; justify-content: space-around; text-align: center;">
        <div *ngIf="hasZone('P1')" style="font-size: 30mm; font-weight: 700;">P1</div>
      </div>

      <div style="display: flex; justify-content: space-around; text-align: center;">
        <div *ngIf="hasZone('P2')" style="font-size: 30mm; font-weight: 700;">P2</div>
      </div>

      <div style="display: flex; justify-content: space-around; text-align: center;">
        <div *ngIf="hasZone('P3')" style="font-size: 30mm; font-weight: 700;">P3</div>
      </div>

      <div style="display: flex; justify-content: space-around; text-align: center;">
        <div *ngIf="hasZone('P7')" style="font-size: 30mm; font-weight: 700;">P7</div>
      </div>

      <div style="display: flex; justify-content: space-around; text-align: center;">
        <div *ngIf="hasZone('AO')" style="font-size: 30mm; font-weight: 700;">ACCESS<br>ONLY</div>
      </div>

    </div>

    <div style="position: absolute; right: 5mm; top: 4mm; width: 70mm; height: 20mm; font-weight: 400; font-size: 10mm; text-align: right" class="ws-text-fit">
      {{vehicle.lines[0]}}
    </div>

    <div style="position: absolute; right: 5mm; bottom: 4mm; width: 70mm; height: 18mm; font-weight: 400; font-size: 10mm; text-align: right;" class="ws-text-fit">
      {{vehicle.lines[1]}}
    </div>

    <div style="position: absolute; left: 5mm; bottom: 4mm; text-align: center; font-weight: 700; font-size: 12mm;">
      {{vehicle.delegate_type?.code}}
    </div>

  </div>
  <div style="position: relative; width: 210mm; height: 148mm; display: flex; justify-content: center; align-items: center;">
    <div>MAP</div>
  </div>

</div>

<ng-template #loadingAnimation>
  <div class="ws-badge">
    <ngx-skeleton-loader
        count="1"
        [theme]="{ 'border-radius': '0', width: '297mm', height: '210mm' }"></ngx-skeleton-loader>
  </div>
</ng-template>
