@page {
  padding: 0;
  margin: 0;
  size: a4 !important; /* important to override this https://github.com/worldskills/bootstrap/blob/main/dist/css/bootstrap.css#L10509 */
}

.ws-badge {
  font-family: FrutigerLTW04, Frutiger, Arial, sans-serif;
  font-weight: 300;
  font-size: 5mm;
  width: 210mm;
  height: 297mm;
  display: flex;
  flex-direction: column;
}

@media print {
  body {
    min-width: 100% !important; /* important to override https://github.com/worldskills/bootstrap/blob/main/dist/css/bootstrap.css#L10512*/
  }
  .ws-badge {
    page-break-after: always;
  }
}

@media screen {
  .ws-badge {
      margin: 10mm auto;
      background-color: #fff;
      position: relative;
      overflow: hidden;
  }
}
