<div class="row">
  <div class="col-md-9 people-result">
    <ng-container *ngIf="!loading; else loadingAnimation">
      <div class="table-responsive-md">
        <table class="table table-striped">
          <colgroup>
            <col style="width: 20%">
            <col style="width: 15%">
            <col style="width: 15%">
            <col style="width: 20%">
            <col style="width: 15%">
            <col style="width: 15%">
          </colgroup>
          <thead>
          <tr>
            <th class="border-top-0">{{ 'timestamp' | translate }}</th>
            <th class="border-top-0">{{ 'first_name' | translate }}</th>
            <th class="border-top-0">{{ 'last_name' | translate }}</th>
            <th class="border-top-0">{{ 'delegate_type' | translate }}</th>
            <th class="border-top-0">{{ 'zone' | translate }}</th>
            <th class="border-top-0">{{ 'allowed' | translate }}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let scan of result?.scans">
            <td>{{ scan.timestamp | date:'dd.MM.yyyy HH:mm' }}</td>
            <td>
              <a [routerLink]="['../', 'people', scan.accreditation.id]">
                <ng-container *ngIf="scan.accreditation.first_name">{{ scan.accreditation.first_name }}</ng-container>
                <ng-container *ngIf="!scan.accreditation.first_name">{{ 'empty_hint' | translate }}</ng-container>
              </a>
            </td>
            <td>
              <a [routerLink]="['../', 'people', scan.accreditation.id]">
                <ng-container *ngIf="scan.accreditation.last_name">{{ scan.accreditation.last_name }}</ng-container>
                <ng-container *ngIf="!scan.accreditation.last_name">{{ 'empty_hint' | translate }}</ng-container>
              </a>
            </td>
            <td>
              {{ scan.accreditation.position.name }}
            </td>
            <td>
              <div class="badge mr-1 small"
                   *ngIf="scan.zone !== null"
                   [style.background-color]="scan?.zone.color"
                   [ngbTooltip]="scan?.zone.name"
                   [style.color]="scan?.zone.text_color">{{ scan?.zone.code }} - {{ scan?.zone.name }}
              </div>
            </td>
            <td>{{ scan.allowed ? 'yes' : 'no' }}</td>
          </tr>
          <tr *ngIf="result?.scans.length === 0">
            <td colspan="6">{{ 'no_people_found' | translate }}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <span class="text-muted">{{ 'total_results' | translate }}
        : {{ result?.total_count }} {{ 'people' | translate }}</span>
      <ngb-pagination
        class="component-pager"
        [collectionSize]="result?.total_count"
        [page]="(fetchParams.offset / fetchParams.limit) + 1"
        [pageSize]="fetchParams.limit"
        [maxSize]="10"
        [boundaryLinks]="true"
        (pageChange)="fetch($event)">
      </ngb-pagination>
    </ng-container>

    <ng-template #loadingAnimation>
      <ngx-skeleton-loader
        count="10"
        [theme]="{ 'border-radius': '0', width: '100%', height: '30px', 'margin-bottom': '15px' }"></ngx-skeleton-loader>
    </ng-template>
  </div>
  <div class="col-md-3">
    <app-scans-filter [loading]="loading" (filter)="filter($event)" (export)="exportCurrentSearchResults($event)"></app-scans-filter>
  </div>
</div>
