<ng-container *ngIf="!loading; else loadStatusTemplate">
  <ng-container *ngFor="let person of people; index as idx">
    <app-badges-determiner [pa]="person"
                           [currentEvent]="selectedEvent"
                           [twoBadgesPerPage]="twoBadgesPerPage"
                           [index]="idx"
                           [totalBadgesToPrint]="people.length"></app-badges-determiner>
  </ng-container>
</ng-container>

<ng-template #loadStatusTemplate>
  <div class="m-3">
    <p>{{ 'loading' | translate}}...</p>
  </div>
</ng-template>

<div class="ws-button-overlay position-absolute top-0 end-0 mt-2 mr-2">
  <button class="btn btn-secondary" *ngIf="adhocPrinting" (click)="showAdHocForm()">{{'edit_accreditations' | translate | titlecase}}</button>
  <button class="btn btn-primary ml-2" (click)="openBrowserPrintPreview()">{{'print' | translate | titlecase}}</button>
</div>

<ws-modal *ngIf="showAdhocPrintingForm" [open]="showAdhocPrintingForm" (onClose)="showAdhocPrintingForm = false" [options]="{size: 'xl'}">
  <ng-container header>
    <h4>{{'ad_hoc_printing' | translate}}</h4>
  </ng-container>
  <ng-container body>
    <app-adhoc-printing [people]="people" (save)="saveAdHocPeople($event)"></app-adhoc-printing>
  </ng-container>
</ws-modal>
