<ng-container [ngSwitch]="currentEvent.id">

  <badge-default *ngSwitchDefault [pa]="pa" [currentEvent]="currentEvent"></badge-default>

  <badge-wsi2025-ciw *ngSwitchCase="626" [pa]="pa" [currentEvent]="currentEvent"></badge-wsi2025-ciw>
  <badge-wse2025-cpm *ngSwitchCase="616" [pa]="pa" [currentEvent]="currentEvent"></badge-wse2025-cpm>
  <badge-ch2025 *ngSwitchCase="620" [pa]="pa" [currentEvent]="currentEvent"></badge-ch2025>
  <badge-fi2024 *ngSwitchCase="607" [pa]="pa" [currentEvent]="currentEvent"></badge-fi2024>
  <badge-fi2025 *ngSwitchCase="618" [pa]="pa" [currentEvent]="currentEvent"></badge-fi2025>
  <badge-wsi2024-wsc *ngSwitchCase="579" [pa]="pa" [currentEvent]="currentEvent"></badge-wsi2024-wsc>
  <badge-wsi2024-cpw *ngSwitchCase="609" [pa]="pa" [currentEvent]="currentEvent"></badge-wsi2024-cpw>
  <badge-wsi2023-ga *ngSwitchCase="605" [pa]="pa"
                    [currentEvent]="currentEvent"
                    [index]="index"
                    [totalBadgesToPrint]="totalBadgesToPrint"
                    [twoBadgesPerPage]="twoBadgesPerPage"></badge-wsi2023-ga>
  <badge-wsi2023-ciw *ngSwitchCase="603" [pa]="pa" [currentEvent]="currentEvent"></badge-wsi2023-ciw>
  <badge-wsi2022 *ngSwitchCase="594" [pa]="pa"></badge-wsi2022>
</ng-container>
