<div class="row">
<div class="col-lg-8 col-lg-offset-2">

<alerts></alerts>

<table class="table table-striped">
    <colgroup>
        <col width="15%" />
        <col width="85%" />
    </colgroup>
    <thead>
        <tr>
            <th translate>code</th>
            <th translate>name</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="delegateType in delegateTypes.delegate_types">
            <td style="background-color: {{delegateType.color}}; color: {{delegateType.text_color;}}" class="text-center">{{delegateType.code}}</td>
            <td><a ui-sref="main.delegate_type({eventId: event.id, id: delegateType.id})">{{delegateType.name}}</a></td>
        </tr>
        <tr ng-show="delegateTypes.delegate_types.length == 0">
            <td colspan="2" translate>error_no_delegate_types</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2"></td>
        </tr>
    </tfoot>
</table>

<p>
    <a ui-sref="main.delegate_type({eventId: event.id})" class="btn btn-success" translate>add_delegate_type</a>
</p>

</div>
</div>
