<ol class="breadcrumb">
    <li class="active" translate>events</li>
</ol>

<div class="row">
    <div class="col-lg-8 col-lg-offset-2">

        <h1 translate>events</h1>

        <hr/>

        <alerts></alerts>

		<div class="table-responsive">
			<table class="table table-striped">
				<colgroup>
					<col width="50%" />
					<col width="20%" />
					<col width="25%" />
				</colgroup>
				<thead>
					<tr>
						<th><span translate>name</span></th>
						<th><span translate>start_date</span></th>
						<th><span translate>end_date</span></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="event in events.events">
						<td><a ui-sref="main.event.people({eventId: event.id})" >{{event.name.text}}</a></td>
						<td>{{event.start_date | date:'dd.MM.yyyy'}}</td>
						<td>{{event.end_date | date:'dd.MM.yyyy'}}</td>
					</tr>
					<tr ng-show="events.total_count == 0">
						<td colspan="8"><span translate>error_no_events</span></td>
					</tr>

				</tbody>
				<tfoot>
					<tr>
						<td colspan="8"></td>
					</tr>
				</tfoot>
			</table>

			<uib-pagination total-items="events.total_count" ng-model="current_page"
				items-per-page='items_per_page' class="pagination-small"
				boundary-links="true" rotate="false" max-size="5"
				ng-change="changePage()"></uib-pagination>
		</div>
	</div>
</div>