<ol class="breadcrumb">
    <li class="active" translate>EventListHeading</li>
</ol>

<h1 translate>EventListHeading</h1>

<alerts></alerts>

<div class="row">
	<div class="col-md-9 ">
		<div class="table-responsive">
			<table class="table table-striped resource_list">
				<colgroup>
					<col width="50%" />
					<col width="20%" />
					<col width="25%" />
				</colgroup>
				<thead>
					<tr>
						<th><span translate>Name</span></th>
						<th><span translate>StartDate</span></th>
						<th><span translate>EndDate</span></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="event in events.events">
						<td><a ui-sref="people({event_id: event.id})" >{{event.name.text}}</a></td>
						<td>{{event.start_date | date:'yyyy-MM-dd'}}</td>
						<td>{{event.end_date | date:'yyyy-MM-dd'}}</td>
					</tr>
					<tr ng-show="events.total_count == 0">
						<td colspan="8"><span translate>NoResources</span></td>
					</tr>

				</tbody>
				<tfoot>
					<tr>
						<td colspan="8"></td>
					</tr>
				</tfoot>
			</table>

			<uib-pagination total-items="events.total_count" ng-model="current_page"
				items-per-page='items_per_page' class="pagination-small"
				boundary-links="true" rotate="false" max-size="5"
				on-select-page="changePage(page)"></uib-pagination>
		</div>
	</div>
	<div class="col-md-3 sidebar" role="navigation">
		<!-- <form name="form" novalidate>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="pull-right" href="" ng-click="clear()">Clear</a>
                    <h3 class="panel-title" translate>Filter</h3>
                </div>
                <div class="panel-body">
                    <form role="form">
                    	<div class="form-group">
                            <label for="name" translate>Name</label>
                            <input ng-model="filterName" class="form-control input-sm" id="name"/>
                        </div>
                        <div class="form-group">
                            <label for="tags" translate>Tags</label>
                            <input ui-select2="tagOptions" name="tags" id="tags" wsi-tags="existingTags" ng-model="filterTags" class="resourceTypeSelect" />
                        </div>
                        <div class="form-group">
							<label for="resType" translate>ResourceType</label>
							<select multiple ui-select2 ng-model="filterResourceType" id="resType" class="resourceTypeSelect" >
							    <option ng-repeat="type in resourceTypes" value="{{type.id}}">{{type.name}}</option>
							</select>
						</div>
						<div class="form-group">
							<label for="wse" translate>WSEntity</label>
							<select ui-select2 ng-model="filterWSEntity" class="wsEntitySelect">
							    <option ng-repeat="entity in wsEntities" value="{{entity.id}}">{{entity.name.text}} {{entity.public_download ? "(public)" : ""}}</option>
							</select>
						</div>
                        <div class="form-group">
                            <label for="sort" translate>Sort</label>
                            <select ng-model="filterSort" class="form-control input-sm" id="sort">
		        				<option value="name" translate>Name</option>
		        				<option value="name_desc" translate>NameDesc</option>
		        				<option value="v_date" translate>VersionDate</option>
		        				<option value="v_date_desc" translate>VersionDateDesc</option>
		        				<option value="v_mod_date" translate>ModifiedDate</option>
		        				<option value="v_mod_date_desc" translate>ModifiedDateDesc</option>
		        			</select>
                        </div>
                        <a ng-click="filterResults()" class="btn btn-primary pull-right" ng-disabled="loading || deleting"><span translate>SetFilter</span><spinner ng-show="loading" class="ng-hide"></spinner></a>
                    </form>
                </div>
            </div>
        </form> -->
	</div>
</div>