
<alerts></alerts>

<div class="alert alert-danger" ng-show="error">
    <strong>{{error.user_msg}}</strong> {{error.dev_msg}}
</div>

<p class="form-inline">
    <select ng-model="delegateType" class="form-control">
        <option value="">- ALL -</option>
        <option ng-repeat="dt in delegateTypes.delegate_types" value="{{dt.id}}">{{dt.name}}</option>
    </select>
    &nbsp;
    <button class="btn btn-primary" ng-click="export()">Export<ws-text-spinner ng-show="loading" class="ng-hide"></ws-text-spinner></button>
    <span ng-show="accreditations.people" class="text-muted">&nbsp;Exported {{accreditations.people.length}} people</span>
</p>
