
<alerts></alerts>

<div class="alert alert-danger" ng-show="error">
    <strong>{{error.user_msg}}</strong> {{error.dev_msg}}
</div>

<p class="pull-right">
    <button class="btn btn-success" ng-click="import()" ng-disabled="!accreditations.data">Import<ws-text-spinner ng-show="importing" class="ng-hide"></ws-text-spinner></button>
</p>

<p>
    <button class="btn btn-primary" ngf-select="onFileSelect($files)">Load file</button>
</p>

<table class="table table-striped" style="table-layout: fixed;">
    <colgroup>
        <col width="10%" />
        <col width="10%" />
        <col width="10%" />
        <col width="10%" />
        <col width="10%" />
        <col width="10%" />
        <col width="10%" />
        <col width="10%" />
        <col width="10%" />
    </colgroup>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Country</th>
            <th>Email</th>
            <th>Position</th>
            <th>Entity</th>
            <th>Job Title</th>
            <th>Company</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="accreditation in accreditations.data">
            <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{accreditation['First Name']}}</td>
            <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{accreditation['Last Name']}}</td>
            <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{accreditation['Country']}}</td>
            <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{accreditation['Email']}}</td>
            <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{accreditation['Position']}}</td>
            <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{accreditation['Entity']}}</td>
            <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{accreditation['Job Title']}}</td>
            <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{accreditation['Company']}}</td>
            <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                <a ng-show="accreditation.accreditation" ui-sref="person({eventId: event.id, accreditationId: accreditation.accreditation.id})" target="_blank">{{accreditation.status}}</a>
                <span ng-show="!accreditation.accreditation">{{accreditation.status}}</span>
            </td>
        </tr>
        <tr ng-show="!accreditations.data">
            <td colspan="9">No people found</td>
        </tr>

    </tbody>
    <tfoot>
        <tr>
            <td colspan="9"></td>
        </tr>
    </tfoot>
</table>
