<div class="row">
<div class="col-lg-8 col-lg-offset-2">

<alerts></alerts>

<table ng-show='!loading' class="table table-striped">
    <colgroup>
        <col width="70%" />
        <col width="30%" />
    </colgroup>
    <thead>
        <tr>
            <th translate>name</th>
            <th translate>type</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="option in options.options">
            <td><a ui-sref="main.event.package_option({eventId: event.id, id: option.id})">{{option.name.text}}</a></td>
            <td style="text-transform: capitalize;">{{option.type | lowercase}}</td>
        </tr>
        <tr ng-show="options.options.length == 0">
            <td colspan="2" translate>error_no_package_options</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2"></td>
        </tr>
    </tfoot>
</table>

</div>
</div>
