<alerts></alerts>

<div class="row">
	<div class="col-md-9 ">
		<div class="table-responsive">
			<ws-spinner ng-show="loading" class="bigSpinner"></ws-spinner>
			<table ng-show='!loading' class="table table-striped resource_list">
				<colgroup>
					<col width="25%" />
					<col width="20%" />
					<col width="30%" />
					<col width="25%" />
				</colgroup>
				<thead>
					<tr>
						<th><span translate>Name</span></th>
						<th><span translate>Position</span></th>
						<th><span translate>Skills</span></th>
						<th><span translate>Country</span></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="person in people.people">
						<td><a ui-sref="person({eventId: event.id, person_id: person.id})" >{{person.first_name}} {{person.last_name}}</a></td>
						<td><div ng-repeat="pos in person.positions">{{pos}}</div></td>
						<td><div ng-repeat="skill in person.skills">{{skill.skill_number}} {{skill.name.text}}</div></td>
						<td>{{person.country.name.text}}</td>
					</tr>
					<tr ng-show="people.total_count == 0">
						<td colspan="8"><span translate>NoPeople</span></td>
					</tr>

				</tbody>
				<tfoot>
					<tr>
						<td colspan="8"></td>
					</tr>
				</tfoot>
			</table>

			<uib-pagination total-items="people.total_count" ng-model="current_page"
				items-per-page="items_per_page"
				boundary-links="true" max-size="5" rotate="false"
				ng-change="changePage(page)"></uib-pagination>
		</div>
	</div>
	<div class="col-md-3 sidebar" role="navigation">
		<form name="form" novalidate ng-controller="PeopleFilterController" ng-disabled="loading">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="pull-right" href="" ng-click="clear()" translate>Clear</a>
                    <h3 class="panel-title" translate>Filter</h3>
                </div>
                <div class="panel-body">
                    <form role="form" >
                    	<div class="form-group">
                            <label for="name" translate>FirstName</label>
                            <input ng-model="filter.firstName" class="form-control input-sm" id="name"/>
                        </div>
                        <div class="form-group">
                            <label for="name" translate>LastName</label>
                            <input ng-model="filter.lastName" class="form-control input-sm" id="name"/>
                        </div>
                        <div class="form-group">
                            <label for="dt" translate>DelegateType</label>
                        	<select ng-model="filter.delegateTypes" class="form-control" name="dt" id="dt">
								<option></option>
							    <option ng-repeat="dt in delegate_types" value="{{dt.id}}">{{dt.name}}</option>
							</select>
						</div>
                        <div class="form-group">
                            <label for="position" translate>Position</label>
                            <input ng-model="filter.position" class="form-control input-sm" id="position"/>
                        </div>
                        <div class="form-group">
                            <label for="country" translate>Country</label>
                        	<select ng-model="filter.country" class="form-control" name="country" id="country">
								<option></option>
							    <option ng-repeat="country in countries" value="{{country.code}}">{{country.code}} - {{country.name.text}}</option>
							</select>
						</div>
						<div class="form-group">
                            <label for="skill" translate>Skill</label>
                        	<select ng-model="filter.skill" class="form-control" name="skill" id="skill">
								<option></option>
							    <option ng-repeat="skill in skills" value="{{skill.id}}">{{skill.skill_number}} {{skill.name.text}}</option>
							</select>
						</div>
                        <a ng-click="filterResults()" class="btn btn-primary pull-right" ng-disabled="loading || deleting"><span translate>SetFilter</span><spinner ng-show="loading" class="ng-hide"></spinner></a>
                    </form>
                </div>
            </div>
        </form>
	</div>
</div>