<ol class="breadcrumb">
    <li><a ui-sref="event_list">Events</a></li>
    <li><a ui-sref="event.people({eventId: event.id})">{{event.name.text}}</a></li>
    <li class="active" ng-show="accreditation.person">{{accreditation.person.first_name}} {{accreditation.person.last_name}}</li>
    <li class="active" ng-show="!accreditation.person">{{accreditation.first_name}} {{accreditation.last_name}}</li>
</ol>

<alerts></alerts>

<form name="form.accData" novalidate focus-error>

<p class="text-right">
    <button ng-show="accreditation.id" class="btn btn-warning" ng-click="sync()">
        <span ng-show="!synced">Sync</span>
        <span ng-show="synced">Synced</span>
    </button>
    <input type="button" class="btn btn-success" value="Save Accreditation" ng-click="save()"/>
</p>

<div class="row">
    <div class="col-md-4">

        <div class="panel panel-default" ng-show="accreditation.person">
            <div class="panel-body">

                <h1 class="align-top"><small>Data from</small><br/>People</h1>

                <hr/>

                <div class="form-group">
                    <p class="form-control-static">
                        <img ng-src="{{accreditation.person.images[0].thumbnail}}_small" width="100" alt="User Image" />
                    </p>
                </div>

                <div class="form-group">
                    <label>Name</label>
                    <p class="form-control-static">{{accreditation.person.first_name}} {{accreditation.person.last_name}}</p>
                </div>

                <div class="form-group">
                    <label>Position</label>
                    <p class="form-control-static">
                        {{accreditation.person_position.position.name.text}}
                        <span ng-show="accreditation.person_position.skill"><br/>{{accreditation.person_position.skill.skill_number}} {{accreditation.person_position.skill.name.text}}</span>
                        <span ng-show="accreditation.person_position.sector"><br/>{{accreditation.person_position.sector.name.text}}</span>
                        <span ng-show="accreditation.person_position.member"><br/>{{accreditation.person_position.member.code}} {{pos.name.text}}</span>
                    </p>
                </div>

                <div class="form-group">
                    <label>Delegate Type</label>
                    <p class="form-control-static">{{accreditation.position_delegate_type.delegate_type.name}}</p>
                </div>

                <p><a href="{{peopleApp}}/#/people/person/{{accreditation.person.id}}" target="people_tab"><span class="glyphicon glyphicon-link"></span> View in People</a></p>

            </div>
        </div>

        <div class="panel panel-default" ng-show="!accreditation.person">
            <div class="panel-body">

                <h1 class="align-top"><small>No data from</small><br/>People</h1>

                <hr/>

                <p class="text-muted text-center">Person only exists in Accreditation</p>

                <br/>

            </div>
        </div>

    </div>
    <div class="col-md-4">

        <div class="panel panel-default">
            <div class="panel-body">

                <h1 class="align-top"><small>Override</small><br/>Accreditation</h1>
    
                <hr/>

                <div class="form-group" ng-show="!accreditation.person">
                    <label for="image">Photo</label>
                    <input type="file" id="image" name="image" ngf-select="onFileSelect($files)" />
                </div>

                <div class="row" ng-show="!accreditation.person">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="first_name">First Name</label>
                            <input type="text" class="form-control" ng-maxlength="255" id="first_name" name="first_name" ng-model="accreditation.first_name" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="last_name">Last Name</label>
                            <input type="text" class="form-control" ng-maxlength="255" id="last_name" name="last_name" ng-model="accreditation.last_name" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="dt">Delegate Type</label>
                    <select ng-options="dt.name for dt in delegateTypes.delegate_types track by dt.id" ng-model="accreditation.delegate_type" class="form-control" name="dt" id="dt" ng-change="updateZones()">
                        <option></option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="lines">Badge Lines</label>
                    <textarea name="lines" class="form-control" rows="3" ng-model="accreditation.lines"></textarea>
                </div>

                <div class="form-group">
                    <label>Additional Zones</label>

                    <div class="form-control-static">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Add Zone <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li ng-repeat="zone in zones.zones">
                                    <a href ng-click="addAddZone(zone)">
                                        {{ zone.name }}
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Remove Zone <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li ng-repeat="zone in zones.zones">
                                    <a href ng-click="addRemoveZone(zone)">
                                        {{ zone.name }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <p class="form-control-static">
                        <span ng-repeat="zone in accreditation.zones_add">
                            <span ng-click="removeAddZone(zone)">{{ zone.name }}</span>
                            <br/>
                        </span>
                        <span ng-repeat="zone in accreditation.zones_remove">
                            <s ng-click="removeRemoveZone(zone)">{{ zone.name }}</s>
                            <br/>
                        </span>
                    </p>
                </div>

            </div>
        </div>

        <div class="panel panel-default" ng-show="eas">
            <div class="panel-body">

                <h1 class="align-top">Passport information</h1>
    
                <hr/>

                <p>
                    {{eas.status}}<br/>
                    {{eas.error_description}}
                </p>

                <p><a href="" target="_blank"><span class="glyphicon glyphicon-link"></span> Update passport information</a>

            </div>
        </div>
    </div>
    <div class="col-md-4">

        <div class="panel panel-default">
            <div class="panel-body">

                <h1 class="align-top"><small>Preview</small><br/>Badge</h1>

                <hr/>
                
                <p>
                    <img ng-show="accreditation.person" ng-src="{{accreditation.person.images[0].thumbnail}}_small" width="100" alt="User Image" />
                    <img ng-show="!accreditation.person && accreditation.image" ng-src="{{accreditation.image.thumbnail}}_small" width="100" alt="User Image" />
                </p>

                <h3 style="margin-bottom: 0;">
                    <span ng-show="accreditation.person">{{accreditation.person.first_name}} {{accreditation.person.last_name}}</span>
                    <span ng-show="!accreditation.person">{{accreditation.first_name}} {{accreditation.last_name}}</span>
                </h3>

                <p ng-show="!accreditation.lines">
                    <span ng-show="!accreditation.delegate_type">
                        <span ng-switch on="accreditation.position_delegate_type.delegate_type.line1">
                            <span ng-switch-when="SKILL">{{accreditation.person_position.skill.name.text}}</span>
                            <span ng-switch-when="SECTOR">{{accreditation.person_position.sector.name.text}}</span>
                            <span ng-switch-when="POSITION">{{accreditation.person_position.position.name.text}}</span>
                            <span ng-switch-when="MEMBER">{{accreditation.person_position.member.name.text}}</span>
                            <span ng-switch-when="ORGANIZATION">{{accreditation.organization_name}}</span>
                            <span ng-switch-default>{{accreditation.position_delegate_type.delegate_type.line1}}</span>
                        </span>
                        <br/>
                        <span ng-switch on="accreditation.position_delegate_type.delegate_type.line2">
                            <span ng-switch-when="SKILL">{{accreditation.person_position.skill.name.text}}</span>
                            <span ng-switch-when="SECTOR">{{accreditation.person_position.sector.name.text}}</span>
                            <span ng-switch-when="POSITION">{{accreditation.person_position.position.name.text}}</span>
                            <span ng-switch-when="MEMBER">{{accreditation.person_position.member.name.text}}</span>
                            <span ng-switch-when="ORGANIZATION">{{accreditation.organization_name}}</span>
                            <span ng-switch-default>{{accreditation.position_delegate_type.delegate_type.line2}}</span>
                        </span>
                        <br/>
                        <span ng-switch on="accreditation.position_delegate_type.delegate_type.line3">
                            <span ng-switch-when="SKILL">{{accreditation.person_position.skill.name.text}}</span>
                            <span ng-switch-when="SECTOR">{{accreditation.person_position.sector.name.text}}</span>
                            <span ng-switch-when="POSITION">{{accreditation.person_position.position.name.text}}</span>
                            <span ng-switch-when="MEMBER">{{accreditation.person_position.member.name.text}}</span>
                            <span ng-switch-when="ORGANIZATION">{{accreditation.organization_name}}</span>
                            <span ng-switch-default>{{accreditation.position_delegate_type.delegate_type.line3}}</span>
                        </span>
                    </span>
                    <span ng-show="accreditation.delegate_type">
                        <span ng-switch on="accreditation.delegate_type.line1">
                            <span ng-switch-when="SKILL">{{accreditation.person_position.skill.name.text}}</span>
                            <span ng-switch-when="SECTOR">{{accreditation.person_position.sector.name.text}}</span>
                            <span ng-switch-when="POSITION">{{accreditation.person_position.position.name.text}}</span>
                            <span ng-switch-when="MEMBER">{{accreditation.person_position.member.name.text}}</span>
                            <span ng-switch-when="ORGANIZATION">{{accreditation.organization_name}}</span>
                            <span ng-switch-default>{{accreditation.delegate_type.line1}}</span>
                        </span>
                        <br/>
                        <span ng-switch on="accreditation.delegate_type.line2">
                            <span ng-switch-when="SKILL">{{accreditation.person_position.skill.name.text}}</span>
                            <span ng-switch-when="SECTOR">{{accreditation.person_position.sector.name.text}}</span>
                            <span ng-switch-when="POSITION">{{accreditation.person_position.position.name.text}}</span>
                            <span ng-switch-when="MEMBER">{{accreditation.person_position.member.name.text}}</span>
                            <span ng-switch-when="ORGANIZATION">{{accreditation.organization_name}}</span>
                            <span ng-switch-default>{{accreditation.delegate_type.line2}}</span>
                        </span>
                        <br/>
                        <span ng-switch on="accreditation.delegate_type.line3">
                            <span ng-switch-when="SKILL">{{accreditation.person_position.skill.name.text}}</span>
                            <span ng-switch-when="SECTOR">{{accreditation.person_position.sector.name.text}}</span>
                            <span ng-switch-when="POSITION">{{accreditation.person_position.position.name.text}}</span>
                            <span ng-switch-when="MEMBER">{{accreditation.person_position.member.name.text}}</span>
                            <span ng-switch-when="ORGANIZATION">{{accreditation.organization_name}}</span>
                            <span ng-switch-default>{{accreditation.delegate_type.line3}}</span>
                        </span>
                    </span>
                </p>
                <p ng-show="accreditation.lines" style="white-space: pre-line;">{{accreditation.lines}}</p>

                <hr/>

                <p>
                    <a class="btn btn-default disabled" ng-style="{'visibility': accreditationZones['1'].access ? 'visible' : 'hidden'}">1</a>
                    <a class="btn btn-default disabled" ng-style="{'visibility': accreditationZones['2'].access ? 'visible' : 'hidden'}">2</a>
                    <a class="btn btn-default disabled" ng-style="{'visibility': accreditationZones['3'].access ? 'visible' : 'hidden'}">3</a>
                    <a class="btn btn-default disabled" ng-style="{'visibility': accreditationZones['4'].access ? 'visible' : 'hidden'}">4</a>
                    <a class="btn btn-default disabled" ng-style="{'visibility': accreditationZones['5'].access ? 'visible' : 'hidden'}">5</a>
                    <a class="btn btn-default disabled" ng-style="{'visibility': accreditationZones['6'].access ? 'visible' : 'hidden'}">6</a>
                    <a class="btn btn-default disabled" ng-style="{'visibility': accreditationZones['7'].access ? 'visible' : 'hidden'}">7</a>
                </p>

                <p>
                    <a class="btn btn-default disabled" ng-style="{'visibility': accreditationZones['T'].access ? 'visible' : 'hidden'}">T</a>
                    <a class="btn btn-default disabled" ng-style="{'visibility': accreditationZones['L'].access ? 'visible' : 'hidden'}">L</a>
                    <a class="btn btn-default disabled" ng-style="{'visibility': accreditationZones['D'].access ? 'visible' : 'hidden'}">D</a>
                    <a class="btn btn-default disabled" ng-style="{'visibility': accreditationZones['S'].access ? 'visible' : 'hidden'}">S</a>
                    <a class="btn btn-default disabled" ng-style="{'visibility': accreditationZones['FP'].access ? 'visible' : 'hidden'}">F</a>
                    <a class="btn btn-default disabled" ng-style="{'visibility': accreditationZones['CD1'].access || accreditationZones['CD2'].access ? 'visible' : 'hidden'}"><span ng-show="accreditationZones['CD1'].access">C1</span><span ng-show="accreditationZones['CD2'].access">C2</span></a>
                    <a class="btn btn-default disabled" ng-style="{'visibility': accreditationZones['AGE'].access ? 'visible' : 'hidden'}">21+</a>
                </p>

                <p>
                    <br/><a href ng-click="showAllZones = !showAllZones">All zones <span class="caret"></span></a>
                </p>
                <div ng-class="{collapse: !showAllZones}">
                    <p>
                        <span ng-repeat="zone in zones.zones" ng-show="zone.access">
                            {{zone.name}}
                            <br/>
                        </span>
                    </p>
                </div>

            </div>
            <div ng-show="!accreditation.delegate_type" class="panel-footer" style="background-color: {{accreditation.position_delegate_type.delegate_type.color}}; color: {{accreditation.position_delegate_type.delegate_type.text_color;}}">
                {{accreditation.position_delegate_type.delegate_type.label}}
            </div>
            <div ng-show="accreditation.delegate_type" class="panel-footer" style="background-color: {{accreditation.delegate_type.color}}; color: {{accreditation.delegate_type.text_color;}}">
                {{accreditation.delegate_type.label}}
            </div>
        </div>
    </div>
</div>

</form>
