<ol class="breadcrumb">
    <li><a ui-sref="main.event_list" translate>events</a></li>
    <li><a ui-sref="main.event.people({eventId: event.id})">{{event.name.text}}</a></li>
    <li class="active">{{accreditation.person.first_name}} {{accreditation.person.last_name}}</li>
</ol>

<alerts></alerts>

<form name="form.accData" novalidate focus-error>

<p class="pull-right text-muted">
    <span ng-show="accreditation.id && !saving && !saved" translate>changes_saved_automatically</span>
    <span ng-show="accreditation.id && saving" translate>saving_indicator</span>
    <span ng-show="accreditation.id && !saving && saved" translate>saved</span>
    &nbsp;
    <input ng-show="!accreditation.id" type="button" class="btn btn-success" value="{{ 'save_accreditation' | translate }}" ng-click="save()"/>
</p>

<p>
    <a ui-sref="main.event.people({eventId: event.id})" class="btn btn-default" translate>back</a>
</p>

<div class="row">
    <div class="col-md-4">

        <div class="panel panel-default">
            <div class="panel-body">

                <h1 class="align-top"><small translate>existing</small><br/><span translate>information</span></h1>

                <hr/>

                <div class="form-group" ng-show="accreditation.person.images[0]">
                    <p class="form-control-static">
                        <img ng-src="{{accreditation.person.images[0].thumbnail}}_accreditation" width="100" alt="{{ 'user_image' | translate }}" />
                    </p>
                </div>

                <div class="form-group">
                    <label translate>name</label>
                    <p class="form-control-static">{{accreditation.person.first_name}} {{accreditation.person.last_name}}</p>
                </div>

                <div class="form-group">
                    <label translate>position</label>
                    <p class="form-control-static">
                        {{accreditation.person_position.position.name.text}}
                        <span ng-show="accreditation.person_position.skill"><br/>{{accreditation.person_position.skill.skill_number}} {{accreditation.person_position.skill.name.text}}</span>
                        <span ng-show="accreditation.person_position.sector"><br/>{{accreditation.person_position.sector.name.text}}</span>
                        <span ng-show="accreditation.person_position.member"><br/>{{accreditation.person_position.member.code}} {{pos.name.text}}</span>
                    </p>
                </div>

                <div class="form-group">
                    <label translate>delegate_type</label>
                    <div class="form-control-static">
                        <div>{{accreditation.position_delegate_type.delegate_type.name}}:</div>
                        <div ng-repeat="zone in accreditation.position_delegate_type.delegate_type.zones">
                            <span>{{ zone.name }}</span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label translate>package_options</label>
                    <div class="form-control-static">
                        <div ng-repeat="packageOptionZone in accreditation.package_option_zones">
                            <span>{{ packageOptionZone.package_option.name.text }}: {{ packageOptionZone.zone.name }}</span>
                        </div>
                    </div>
                </div>

                <p><a href="{{peopleApp}}/#/people/person/{{accreditation.person.id}}" target="people_tab"><span class="glyphicon glyphicon-link"></span> <span translate>view_in_people</span></a></p>

            </div>
        </div>

    </div>
    <div class="col-md-4">

        <div class="panel panel-default">
            <div class="panel-body">

                <h1 class="align-top"><small translate>manual</small><br/><span translate>override</span></h1>
    
                <hr/>

                <div class="form-group">
                    <label for="dt" translate>delegate_type</label>
                    <select ng-options="dt.name for dt in delegateTypes.delegate_types track by dt.id" ng-model="accreditation.delegate_type" class="form-control" name="dt" id="dt" ng-change="changed()">
                        <option></option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="lines" translate>badge_lines</label>
                    <textarea name="lines" class="form-control" rows="3" ng-model="accreditation.lines" ng-change="changed()"></textarea>
                </div>

                <div class="form-group">
                    <label translate>additional_zones</label>

                    <div class="form-control-static">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span translate>add_zone</span> <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li ng-repeat="zone in zones.zones | filter:hasNotZone">
                                    <a href ng-click="addAddZone(zone)">
                                        {{ zone.name }}
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span translate>remove_zone</span> <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li ng-repeat="zone in zones.zones | filter:hasZone">
                                    <a href ng-click="addRemoveZone(zone)">
                                        {{ zone.name }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div>
                        <div ng-repeat="zone in accreditation.zones_add">
                            <span ng-click="removeAddZone(zone)">{{ zone.name }}</span>
                        </div>
                        <div ng-repeat="zone in accreditation.zones_remove">
                            <s ng-click="removeRemoveZone(zone)">{{ zone.name }}</s>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">

        <div class="panel panel-default" ng-show="accreditation.id">
            <div class="panel-body">

                <p class="pull-right">
                  <a ng-show="accreditation.id" ui-sref="print({eventId: event.id, accreditationId: accreditation.id})" class="btn btn-warning" target="_blank" translate>print</a>
                </p>

                <h1 class="align-top"><small translate>preview</small><br/><span translate>badge</span></h1>

                <hr/>
                
                <div ng-show="saving">
                    <ws-spinner class="bigSpinner"></ws-spinner>
                </div>
                <div ng-show="!saving">
                <p>
                    <img ng-show="accreditation.summary.image" ng-src="{{accreditation.summary.image.thumbnail}}_accreditation" width="100" alt="{{ 'user_image' | translate }}" />
                </p>

                <h3 style="margin-bottom: 0;">
                    {{accreditation.summary.first_name}} {{accreditation.summary.last_name}}
                </h3>

                <div style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{accreditation.summary.lines[0]}}</div>
                <div style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{accreditation.summary.lines[1]}}</div>
                <div style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{accreditation.summary.lines[2]}}</div>

                <div style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin: 0.8em 0;">
                  <span ng-repeat="zone in accreditation.summary.zones">
                    <span style="display: inline-block; padding: 6px 12px; background-color: {{zone.color}} !important;  color: {{zone.text_color}};">{{ zone.code }}</span>
                  </span>
                </div>

                <p>
                    <a href ng-click="showAllZones = !showAllZones"><span translate>all_zones</span> <span class="caret"></span></a>
                </p>
                <div ng-class="{collapse: !showAllZones}">
                    <p>
                        <span ng-repeat="zone in zones.zones | filter:hasZone">
                            {{zone.code}} - {{zone.name}}
                            <br/>
                        </span>
                    </p>
                </div>
                </div>
            </div>
            <div ng-show="!saving" class="panel-footer" style="background-color: {{accreditation.summary.delegate_type.color}}; color: {{accreditation.summary.delegate_type.text_color;}}">
                {{accreditation.summary.delegate_type.name}}
            </div>
        </div>
    </div>
</div>

</form>
