<div class="row">
<div class="col-lg-8 col-lg-offset-2">

<alerts></alerts>

<table ng-show='!loading' class="table table-striped">
    <colgroup>
        <col width="50%" />
        <col width="40%" />
        <col width="10%" />
    </colgroup>
    <thead>
        <tr>
            <th translate>position</th>
            <th translate>delegate_type</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="position in positions.positions">
            <td>{{position.position.name.text}}</td>
            <td>
                <select ng-options="dt.name for dt in delegateTypes.delegate_types track by dt.id" ng-model="position.delegate_type" class="form-control input-sm" ng-change="save()" name="dt" id="dt">
                    <option></option>
                </select>
            </td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-xs" ng-click="moveUp($index, position)" ng-disabled="$first"><span class="glyphicon glyphicon-triangle-top"></span></button>
                    <button type="button" class="btn btn-primary btn-xs" ng-click="moveDown($index, position)" ng-disabled="$last"><span class="glyphicon glyphicon-triangle-bottom"></span></button>
                </div>
            </td>
        </tr>
        <tr ng-show="positions.positions.length == 0">
            <td colspan="3" translate>error_no_positions</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3"></td>
        </tr>
    </tfoot>
</table>

</div>
</div>
