<style>
@media screen {
}

@media print {
  .ws-button-overlay {
    display: none !important;
  }
}
</style>

<div ng-if="loading">
  <p style="padding: 3em 2em;"><span translate>loading_please_wait</span><spinner ng-show="loading" class="ng-hide"></spinner></p>
</div>

<div ng-if="!loading" ng-repeat="accreditation in accreditations">

  <div ng-include="template"></div>

</div>

<div ng-if="!loading">
  <div class="ws-button-overlay" style="position: fixed; top: 24px; right: 24px;">
    <button class="btn btn-primary btn-lg" ng-show="adHoc" ng-click="editAccreditations()" translate>edit_accreditations</button>
    <button class="btn btn-default btn-lg" ng-click="print()" translate>print</button>
  </div>
</div>
