<form>
    <div class="modal-header">
        <button type="button" class="btn btn-warning pull-right" ng-click="preview()" translate>print_preview</button>
        <h2 class="modal-title" translate>ad_hoc_printing</h2>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="firstName" translate>first_name</label>
                    <input type="text" class="form-control" id="firstName" ng-model="accreditation.first_name">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="lastName" translate>last_name</label>
                    <input type="text" class="form-control" id="lastName" ng-model="accreditation.last_name">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="lines" translate>badge_lines</label>
                    <textarea name="lines" class="form-control" rows="3" ng-model="accreditation.lines"></textarea>
                </div>
                <div class="form-group">
                    <label for="delegateType" translate>delegate_type</label>
                    <select class="form-control" id="delegateType" ng-model="accreditation.delegate_type" ng-options="delegateType as delegateType.name for delegateType in delegateTypes.delegate_types track by delegateType.id">
                        
                    </select>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="zones" translate>zones</label>
                    <select multiple class="form-control" size="8" ng-model="accreditation.zones" ng-options="zone as (zone.code + ' - ' + zone.name) for zone in zones.zones track by zone.id">
                    </select>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-default pull-right" ngf-select="onFileSelect($files)" translate>import_excel</button>
        <button type="submit" class="btn btn-success" ng-if="!accreditation.edit" ng-click="addPerson()" translate>add_person</button>
        <button type="submit" class="btn btn-success" ng-if="accreditation.edit" ng-click="save()" translate>save</button>
        <hr>
        <div class="table-responsive">
            <table class="table table-striped">
                <colgroup>
                    <col width="30%" />
                    <col width="30%" />
                    <col width="20%" />
                    <col width="20%" />
                </colgroup>
                <thead>
                    <tr>
                        <th><span translate>first_name</span></th>
                        <th><span translate>last_name</span></th>
                        <th><span translate>delegate_type</span></th>
                        <th><span translate>actions</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="accreditation in accreditations">
                        <td>{{accreditation.first_name}}</td>
                        <td>{{accreditation.last_name}}</td>
                        <td>{{accreditation.delegate_type.name}}</td>
                        <td>
                            <button class="btn btn-warning btn-xs" ng-click="edit(accreditation, $index)" translate>edit</button>
                            <button class="btn btn-danger btn-xs" ng-click="remove($index)" translate>remove</button>
                        </td>
                    </tr>
                    <tr ng-show="accreditations.length == 0">
                        <td colspan="4" translate>error_no_people</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4"></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="modal-footer" ng-show="accreditations.length > 10">
      <button type="button" class="btn btn-warning" translate>print_preview</button>
    </div>
</form>
