<div class="row">
<div class="col-lg-8 col-lg-offset-2">

<alerts></alerts>

<table ng-show='!loading' class="table table-striped">
    <colgroup>
        <col width="15%" />
        <col width="75%" />
        <col width="10%" />
    </colgroup>
    <thead>
        <tr>
            <th class="text-center" translate>code</th>
            <th translate>name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="zone in zones.zones">
            <td style="background-color: {{zone.color}}; color: {{zone.text_color}};" class="text-center">{{zone.code}}</td>
            <td><a ui-sref="main.zone({eventId: event.id, id: zone.id})">{{zone.name}}</a></td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-xs" ng-click="moveUp($index, zone)" ng-disabled="$first"><span class="glyphicon glyphicon-triangle-top"></span></button>
                    <button type="button" class="btn btn-primary btn-xs" ng-click="moveDown($index, zone)" ng-disabled="$last"><span class="glyphicon glyphicon-triangle-bottom"></span></button>
                </div>
            </td>
        </tr>
        <tr ng-show="zones.zones.length == 0">
            <td colspan="3" translate>error_no_zones</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3"></td>
        </tr>
    </tfoot>
</table>

<p>
    <a ui-sref="main.zone({eventId: event.id})" class="btn btn-success" translate>add_zone</a>
</p>

</div>
</div>
