<ol class="breadcrumb">
    <li><a ui-sref="main.event_list" translate>events</a></li>
    <li><a ui-sref="main.event.people({eventId: event.id})">{{ event.name.text }}</a></li>
    <li><a ui-sref="main.event.zone_list({eventId: event.id})" translate>zones</a></li>
    <li class="active">{{ zoneId ? zoneName : ('new_zone' | translate) }}</li>
</ol>

<alerts></alerts>

<div class="row">
<div class="col-lg-8 col-lg-offset-2">

<p class="pull-right">
    <button ng-show="zoneId" ng-click="delete()" class="btn btn-danger"><span translate>delete</span><ws-text-spinner ng-show="deleteLoading" class="ng-hide"></ws-text-spinner></button>
</p>

<h1>{{ zoneId ? zoneName : ('new_zone' | translate) }}</h1>

<hr/>

<form class="form-horizontal" name="form" novalidate ng-submit="save()">
    <div class="form-group" ng-class="{'has-error': submitted && form.code.$invalid}">
        <label for="code" class="col-sm-3 control-label"><span translate>code</span> <span class="required">*</span></label>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="code" required ng-model="zone.code">
        </div>
        <div class="col-sm-7">
            <span class="help-block" ng-show="submitted" ng-messages="form.code.$error">
                <span ng-message="required" translate>error_missing_code</span>
            </span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': submitted && form.name.$invalid}">
        <label for="name" class="col-sm-3 control-label"><span translate>name</span> <span class="required">*</span></label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="name" required ng-model="zone.name">
        </div>
        <div class="col-sm-4">
            <span class="help-block" ng-show="submitted" ng-messages="form.name.$error">
                <span ng-message="required" translate>error_missing_name</span>
            </span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': submitted && form.color.$invalid}">
        <label for="color" class="col-sm-3 control-label"><span translate>color</span> <span class="required">*</span></label>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="color" required ng-model="zone.color" placeholder="#FF0000">
        </div>
        <div class="col-sm-7">
            <span class="help-block" ng-show="submitted" ng-messages="form.color.$error">
                <span ng-message="required" translate>error_missing_color</span>
            </span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': submitted && form.sort.$invalid}">
        <label for="sort" class="col-sm-3 control-label"><span translate>sort</span> <span class="required">*</span></label>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="sort" required ng-model="zone.sort">
        </div>
        <div class="col-sm-7">
            <span class="help-block" ng-show="submitted" ng-messages="form.sort.$error">
                <span ng-message="required" translate>error_missing_sort</span>
            </span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-success" id="saveEntry"><span translate>save</span><ws-text-spinner ng-show="loading" class="ng-hide"></ws-text-spinner></button>
            <a ui-sref="main.event.zone_list({eventId: event.id})" class="btn btn-default" translate>cancel</a>
        </div>
    </div>
</form>

</div>
</div>
