<div class="ws-badge" *ngIf="showComponent">

  <div style="position: relative; width: 120mm; height: 160mm;">

    <div style="position: absolute; top: 29mm; left: 4mm;">
      <img *ngIf="pa.image" src="{{pa.image.thumbnail}}_accreditation" style="width: 30mm; height: 40mm;"/>
    </div>

    <div style="position: absolute; left: 39mm; top: 32mm; width: 76mm; height: 18mm; font-weight: 700; font-size: 7mm; line-height: 1.2; text-transform: uppercase;" class="ws-text-fit">
      <div style="-webkit-print-color-adjust: exact; color: #302050 !important;">
        {{pa.first_name}}
      </div>
      <div style="-webkit-print-color-adjust: exact; color: #fff !important; -webkit-text-stroke: 0.3mm #302050;">
        {{pa.last_name}}
      </div>
    </div>

    <div style="position: absolute; left: 39mm; top: 50mm; width: 76mm; height: 8mm; font-weight: 400; font-size: 6mm; line-height: 1.4;" class="ws-text-fit">
      <div style="-webkit-print-color-adjust: exact; color: #D51067 !important;">{{pa.lines[0]}}</div>
  </div>

    <div style="position: absolute; left: 39mm; top: 58mm; width: 76mm; height: 11mm; font-weight: 400; font-size: 5mm; line-height: 1.4; -webkit-print-color-adjust: exact; color: #D51067 !important;" class="ws-text-fit">
        <div>{{pa.lines[1]}}</div>
        <div>{{pa.lines[2]}}</div>
        <div *ngIf="(pa.lines[1] && !pa.lines[2]) || (pa.lines[2] && !pa.lines[1])">&nbsp;</div>
    </div>

    <div style="position: absolute; left: 6mm; right: 6mm; top: 75mm; height: 64mm;">

        <div *ngIf="hasAnyZone(['L29', 'L30', 'L31', 'L1', 'L2'])">
          <div class="line" style="top: 5.7mm; background-color: #da0e69;" [ngStyle]="{'width': hasFirstZone({'L2': '91mm', 'L1': '77mm', 'L31': '63mm', 'L30': '49mm', 'L29': '35mm'})}"></div>
          <div class="icon icon-lunch" style="position: absolute; left: 0; top: 0;"></div>
          <div class="icon icon-pink" style="position: absolute; left: 35mm; top: 0;" *ngIf="hasZone('L29')"><span class="icon-number">29</span> JAN</div>
          <div class="icon icon-pink" style="position: absolute; left: 50mm; top: 0;" *ngIf="hasZone('L30')"><span class="icon-number">30</span> JAN</div>
          <div class="icon icon-pink" style="position: absolute; left: 65mm; top: 0;" *ngIf="hasZone('L31')"><span class="icon-number">31</span> JAN</div>
          <div class="icon icon-pink" style="position: absolute; left: 80mm; top: 0;" *ngIf="hasZone('L1')"><span class="icon-number">1</span> FEB</div>
          <div class="icon icon-pink" style="position: absolute; left: 95mm; top: 0;" *ngIf="hasZone('L2')"><span class="icon-number">2</span> FEB</div>
        </div>

        <div *ngIf="hasAnyZone(['D28', 'D29', 'D31'])">
          <div class="line" style="top: 20.7mm; background-color: #3aaa36;" [ngStyle]="{'width': hasFirstZone({'D31': '63mm', 'D29': '35mm', 'D28': '21mm'})}"></div>
          <div class="icon icon-dinner" style="position: absolute; left: 0; top: 15mm;"></div>
          <div class="icon icon-green" style="position: absolute; left: 20mm; top: 15mm;" *ngIf="hasZone('D28')"><span class="icon-number">28</span> JAN</div>
          <div class="icon icon-green" style="position: absolute; left: 35mm; top: 15mm;" *ngIf="hasZone('D29')"><span class="icon-number">29</span> JAN</div>
          <div class="icon icon-green" style="position: absolute; left: 65mm; top: 15mm;" *ngIf="hasZone('D31')"><span class="icon-number">31</span> JAN</div>
        </div>

        <div *ngIf="hasZone('SD30')">
          <div class="line" style="top: 35.7mm; width: 49mm; background-color: #f9b232;"></div>
          <div class="icon icon-sponsor" style="position: absolute; left: 0; top: 30mm;"></div>
          <div class="icon icon-yellow" style="position: absolute; left: 50mm; top: 30mm;"><span class="icon-number">30</span> JAN</div>
        </div>

        <div *ngIf="hasZone('FD1')">
          <div class="line" style="top: 50.7mm; width: 77mm; background-color: #009fe3;"></div>
          <div class="icon icon-farewell" style="position: absolute; left: 0; top: 45mm;"></div>
          <div class="icon icon-blue" style="position: absolute; left: 80mm; top: 45mm;"><span class="icon-number">1</span> FEB</div>
        </div>
    </div>
    
    <div style="-webkit-print-color-adjust: exact; background-color: {{pa.delegate_type?.color}} !important; height: 7.2mm; width: 40mm; position: absolute; left: 3mm; bottom: 5mm; display: flex; justify-content: center; align-items: center;">
      <div style="flex-grow: 1; text-align: center;">
        <div style="white-space: nowrap; font-weight: 700; font-size: 4mm; -webkit-print-color-adjust: exact; color: {{pa.delegate_type?.text_color}} !important;">{{pa.delegate_type?.code}}</div>
      </div>
    </div>

    <div style="position: absolute; left: 49mm; bottom: 4.2mm;">
      <img src="{{pa.qr_code}}" style="height: 22mm;">
    </div>

    <div style="position: absolute; left: 88mm; bottom: 6mm;" *ngIf="hasZone('VT')">
      <img src="assets/badges/wsi2024-cpw/venue-tour.png" style="width: 18mm;">
    </div>

  </div>

</div>
