@page {
  padding: 0;
  margin: 0;
  size: 120mm 160mm !important;
}

.ws-badge {
  font-family: FrutigerLTW04, Frutiger, Arial, sans-serif;
  font-weight: 300;
  font-size: 5mm;
  width: 120mm;
  height: 160mm;
}

.line {
  -webkit-print-color-adjust: exact;
  position: absolute;
  left: 4mm;
  height: 0.5mm;
}

.icon {
  width: 10mm;
  height: 12mm;
  color: #fff;
  font-size: 2.3mm;
  font-weight: 500;
  line-height: 1.14;
  text-align: center;
  padding-top: 1.4mm;
  -webkit-print-color-adjust: exact;
  background-size: contain;
  background-repeat: no-repeat;
}

.icon-number {
  font-weight: 800;
  font-size: 4.9mm;
  display: block;
}

.icon-lunch {
  background-image: url('../../../assets/badges/wsi2024-cpw/icon-lunch.png');
}

.icon-pink {
  background-image: url('../../../assets/badges/wsi2024-cpw/icon-pink.png');
}

.icon-dinner {
  background-image: url('../../../assets/badges/wsi2024-cpw/icon-dinner.png');
}

.icon-green {
  background-image: url('../../../assets/badges/wsi2024-cpw/icon-green.png');
}

.icon-sponsor {
  background-image: url('../../../assets/badges/wsi2024-cpw/icon-sponsor.png');
}

.icon-yellow {
  background-image: url('../../../assets/badges/wsi2024-cpw/icon-yellow.png');
}

.icon-farewell {
  background-image: url('../../../assets/badges/wsi2024-cpw/icon-farewell.png');
}

.icon-blue {
  background-image: url('../../../assets/badges/wsi2024-cpw/icon-blue.png');
}

@media print {
  body {
    min-width: 100% !important; /* important to override https://github.com/worldskills/bootstrap/blob/main/dist/css/bootstrap.css#L10512*/
  }
  .ws-badge {
    display: flex;
    overflow: hidden;
  }
}

@media screen {
  .ws-badge {
    margin: 10mm auto;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    background-image: url('../../../assets/badges/wsi2024-cpw/background.png');
    background-repeat: no-repeat;
    background-size: 120mm auto;
  }
}
