<div class="ws-badge">

  <div style="position: relative; width: 120mm; height: 160mm;">

    <div style="position: absolute; top: 29mm; left: 4mm;">
      <img *ngIf="pa.image" src="{{pa.image.thumbnail}}_accreditation" style="width: 30mm; height: 40mm;"/>
    </div>

    <div style="position: absolute; left: 39mm; top: 32mm; width: 76mm; height: 16mm; font-weight: 700; font-size: 7mm; line-height: 1.2;" class="ws-text-fit">
      <div style="-webkit-print-color-adjust: exact; color: #302050 !important;">
        {{pa.first_name}}
      </div>
      <div style="-webkit-print-color-adjust: exact; color: #fff !important; -webkit-text-stroke: 0.3mm #302050;">
        {{pa.last_name}}
      </div>
    </div>

    <div style="position: absolute; left: 39mm; top: 50mm; width: 76mm; height: 10mm;" class="ws-text-fit">
      <div style="font-weight: 400; font-size: 4mm; line-height: 1.2;">
        <div style="-webkit-print-color-adjust: exact; color: #D51067 !important;">{{pa.lines[0]}}</div>
        <div style="-webkit-print-color-adjust: exact; color: #D51067 !important;">{{pa.lines[1]}}</div>
      </div>

    </div>

    <div *ngIf="pa.lines[2]" style="position: absolute; left: 39mm; top: 61mm; height: 8mm; width: 75mm; font-weight: 700; font-size: 5mm; line-height: 1.2; -webkit-print-color-adjust: exact; background-color: #302050 !important; color: #D51067 !important; text-align: center; display: flex; justify-content: center; align-items: center;">
      {{pa.lines[2]}}
    </div>

    <div style="position: absolute; left: 6mm; right: 6mm; top: 90mm;">
      <span *ngFor="let zone of pa.zones">
          <span style="-webkit-print-color-adjust: exact; display: inline-block; padding: 1mm 2mm; min-width: 14mm; text-align: center; margin: 0 2mm 4mm 0; font-size: 6mm; font-weight: 700; background-color: {{zone.color}} !important; color: {{zone.text_color}} !important;">{{ zone.code }}</span>
      </span>
    </div>

    <div style="-webkit-print-color-adjust: exact; background-color: {{pa.delegate_type.color}} !important; height: 9mm; width: 40mm; position: absolute; left: 3mm; bottom: 3mm; display: flex; justify-content: center; align-items: center;">
      <div style="flex-grow: 1; text-align: center;">
        <div style="white-space: nowrap; font-weight: 700; font-size: 4mm; -webkit-print-color-adjust: exact; color: {{pa.delegate_type.text_color}} !important;">{{pa.delegate_type.code}}</div>
      </div>
    </div>

    <div style="position: absolute; left: 49mm; bottom: 2mm;">
      <img src="{{pa.qr_code}}" style="height: 22mm;">
    </div>

  </div>

</div>
