<ng-container *ngIf="!loading; else loadingAnimation">
  <div class="row">
    <div class="col-md-12 text-right">
      <button class="btn btn-sm btn-primary"
              (click)="addNew()">{{'add_new_zone' | translate | titlecase}}</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive-md">
        <table class="table table-striped">
          <colgroup>
            <col style="width: 10%">
            <col style="width: 60%">
            <col style="width: 30%">
          </colgroup>
          <thead>
          <tr>
            <th class="border-top-0">{{'code' | translate}}</th>
            <th class="border-top-0">{{'name' | translate}}</th>
            <th class="border-top-0">{{'sort' | translate}}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let zone of zones; index as idx">
            <td [style.background-color]="zone.color" [style.color]="zone.text_color">{{zone.code}}</td>
            <td><a class="btn btn-link m-0 p-0" (click)="updateZone(zone)">{{zone.name}}</a></td>
            <td>
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-outline-secondary btn-sm" (click)="moveUp(idx, zone)"
                        [disabled]="idx === 0">
                  <i class="fa fa-arrow-up"></i>
                </button>
                <button type="button" class="btn btn-outline-secondary btn-sm" (click)="moveDown(idx, zone)"
                        [disabled]="idx === zones.length -1">
                  <i class="fa fa-arrow-down"></i>
                </button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <span class="text-muted">{{'total_results' | translate}}: {{zones.length}}</span>
    </div>
  </div>
</ng-container>

<ng-template #loadingAnimation>
  <ngx-skeleton-loader
    count="10"
    [theme]="{ 'border-radius': '0', width: '100%', height: '30px', 'margin-bottom': '15px' }"></ngx-skeleton-loader>
</ng-template>

<ws-modal [open]="manageZone !== null" (onClose)="manageZone = null" [options]="{size: 'sm'}">
  <ng-container header>
    <h4 *ngIf="manageZone?.id === 0">{{'add_new_zone' | translate}}</h4>
    <h4 *ngIf="manageZone?.id > 0">{{'editing' | translate}}: {{manageZone.name}}</h4>
  </ng-container>
  <ng-container body>
    <app-zones-form *ngIf="manageZone !== null"
                    [zone]="manageZone" [selectedEvent]="selectedEvent"
                    (cancelForm)="manageZone = null" (saveZone)="save($event)"
    ></app-zones-form>
  </ng-container>
</ws-modal>
